<!-- 관리자 헤더 프래그먼트 -->
<th:block th:fragment="admin_header">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center" href="#">
        <img src="https://pplx-res.cloudinary.com/image/private/user_uploads/71501722/4852723f-0f3f-4793-9eaf-749463c33650/image.jpg" alt="RESONOS Logo" style="height:38px; border-radius:6px; margin-right:12px;">
        <span>RESONOS Admin</span>
      </a>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="#">대시보드</a></li>
        <li class="nav-item"><a class="nav-link" href="#">회원관리</a></li>
        <li class="nav-item"><a class="nav-link" href="#">게시글/신고</a></li>
        <li class="nav-item"><a class="nav-link" href="#">음악데이터</a></li>
        <li class="nav-item"><a class="nav-link" href="#">공연/이벤트</a></li>
        <li class="nav-item"><a class="nav-link active" href="#">오픈API</a></li>
        <li class="nav-item"><a class="nav-link" href="#">설정</a></li>
      </ul>
    </div>
  </nav>
</th:block>