<th:block th:fragment="footer">
    <footer>
        <div class="footer-container">
            <div class="d-flex flex-row align-items-start gap-3" style="height:300px;">
                <div class="footer-logo-section d-flex flex-column justify-content-between align-items-center p-0" style="width:300px; height:300px;">
                    <div class="footer-logo-img d-flex justify-content-center align-items-center">
                        <a class="navbar-brand d-flex align-items-center" href="#">
                            <img th:src="@{/img/resonosPlusLogo.png}" alt="Main Page Logo" class="logo-img" style="max-width:100%; max-height:100%;">
                        </a>
                    </div>
                    <div class="d-flex flex-row justify-content-between align-items-center px-4 gap-2 mb-5" style="width:300px;">
                        <a href="#" class="footer-sns-icon">
                            <i class="bi bi-youtube" style="font-size:4rem; color:var(--main-color);"></i>
                        </a>
                        <a href="#" class="footer-sns-icon">
                            <i class="bi bi-instagram" style="font-size:4rem; color:var(--main-color);"></i>
                        </a>
                        <a href="#" class="footer-sns-icon">
                            <i class="bi bi-spotify" style="font-size:4rem; color:var(--main-color);"></i>
                        </a>
                    </div>
                </div>
                <div class="footer-links d-flex flex-column justify-content-between align-items-center py-4 gap-2" style="width:200px;">
                    <button type="button" id="footer-terms-btn" class="footer-link selected" onclick="changeFooterInfo('terms')">이용약관</button>
                    <button type="button" id="footer-policy-btn" class="footer-link" onclick="changeFooterInfo('policy')">개인정보 처리방침</button>
                    <button type="button" id="footer-qna-btn" class="footer-link" onclick="changeFooterInfo('qna')">고객센터(Q&amp;A)</button>
                    <button type="button" id="footer-intro-btn" class="footer-link" onclick="changeFooterInfo('intro')">사이트 소개</button>
                </div>
                <div class="footer-info-section d-flex flex-column align-items-start gap-3 pt-4 px-4" style="width:920px; height:300px; border-left:1px solid rgba(212,185,127,0.7);">
                    <div class="footer-info-title" id="footer-info-title">이용약관</div>
                    <div class="footer-info-desc" id="footer-info-desc">본 사이트의 서비스 이용은 이용약관을 따릅니다. 저작권 침해, 비방, 도배, 부정이용시 서비스 이용이 제한될 수 있습니다.</div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg py-0 d-flex justify-content-center align-items-center footer-navbar" style="height:80px;">
            <div class="footer-copyright w-100">
                © 2025 Resonos, All rights reserved.
            </div>
        </nav>
    </footer>
</th:block>