<!-- 프래그먼트 : 레이아웃에서 공통적으로 사용할 UI -->
<!-- th:fragment="프래그먼트 명" -->
<th:block th:fragment="header">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <header class="site-header">
        <nav class="navbar navbar-expand-lg py-0">
            <div class="container-fluid" style="max-width:1440px;">
                <div class="d-flex justify-content-start">
                    <a class="navbar-brand d-flex align-items-center" href="/list/main">
                        <img th:src="@{/img/resonosPlusLogo.png}" alt="Main Page Logo" class="header-logo-img">
                    </a>
                    <a class="navbar-brand d-flex align-items-center" href="/list/main">
                        <img th:src="@{/img/resonosLogo.png}" alt="Sub Page Logo" class="header-logo-img-sub">
                    </a>
                </div>

                <div class="collapse navbar-collapse d-flex justify-content-end align-items-center header-gap mt-4 mb-4" id="mainNav">
                    <form class="position-relative d-flex align-items-center mb-0" style="width:300px;" th:action="@{/search}" method="get">
                        <i class="bi bi-search search-icon position-absolute"></i>
                        <input type="search" name="q" class="form-control search-box" placeholder="앨범, 트랙, 아티스트">
                    </form>
                    <div class="navbar-nav d-flex flex-row justify-content-end align-items-center header-gap">
                        <!-- 비로그인 -->
                        <th:block th:if="${not #authorization.expression('isAuthenticated()')}">
                            <li class="nav-item ms-lg-2">
                                <a href="/login" class="btn btn-outline-gold">로그인</a>
                            </li>
                            <li class="nav-item ms-2">
                                <a href="/join" class="btn btn-outline-gold">회원가입</a>
                            </li>
                        </th:block>
                        <!-- 로그인 -->
                        <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                            <div class="dropdown">
                                <a href="#" class="nav-link p-0" data-bs-toggle="dropdown" aria-expanded="false" style="line-height:0;">
                                    <i class="bi bi-bell-fill" style="font-size: 24px; color: #B1B1B1;"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="#">알림1</a></li>
                                    <li><a class="dropdown-item" href="#">알림2</a></li>
                                    <li><a class="dropdown-item" href="#">알림3</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">전체 알림 보기</a></li>
                                </ul>
                            </div>
                            <div class="flex-shrink-0 dropdown profile-dropdown">
                                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                                </a>
                                <ul class="dropdown-menu text-small shadow">
                                    <li><a class="dropdown-item" href="#">마이페이지</a></li>
                                    <li><a class="dropdown-item" href="#">환경설정</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">로그아웃</a></li>
                                </ul>
                            </div>
                        </th:block>
                    </div>
                </div>

            </div>
        </nav>
    </header>
</th:block>
