<!-- 왼쪽 리모컨 -->
<section class="mypage-tabs" th:fragment="mypage-tabs">
  <a th:href="@{/users/activity}" class="tab" th:classappend="${lastPath == 'activity'} ? 'active' : ''">내 활동</a>
  <a th:href="@{/notifications}" class="tab" th:classappend="${lastPath == 'noti'} ? 'active' : ''">알림함</a>
  <a th:href="@{/users/playlists}" class="tab" th:classappend="${lastPath == 'playlist'} ? 'active' : ''">플레이리스트</a>
  <a th:href="@{/users/liked-music}" class="tab" th:classappend="${lastPath == 'liked-music' ? 'active' : ''}">앨범 / 트랙</a>
  <a th:href="@{/users/follow-artist}" class="tab" th:classappend="${lastPath == 'artist-follows'} ? 'active' : ''">팔로우 아티스트</a>
  <a th:href="@{/users/follow-user}" class="tab" th:classappend="${lastPath == 'user-follows'} ? 'active' : ''">팔로워 / 팔로우</a>
  <a th:href="@{/users/badge }" class="tab" th:classappend="${lastPath == 'badge' ? 'active' : ''}">배지</a>
  <a th:href="@{/users/security}" class="tab" th:classappend="${lastPath == 'security' ? 'active' : ''}">계정 / 보안</a>
  <a th:href="@{/users/alarm}" class="tab" th:classappend="${lastPath == 'alarm'} ? 'active' : ''">알림 설정</a>
</section>