<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cosmus.resonos.mapper.BoardPostMapper">

  <resultMap id="BoardPostResultMap" type="com.cosmus.resonos.domain.BoardPost">
    <id property="id" column="id"/>
    <result property="title" column="title"/>
    <result property="content" column="content"/>
    <result property="type" column="type"/>
    <result property="createdAt" column="created_at"/>
    <result property="communityId" column="community_id"/>
    <result property="userId" column="user_id"/>
  </resultMap>

  <select id="list" resultMap="BoardPostResultMap">
    SELECT * FROM board_post ORDER BY created_at DESC
  </select>

  <select id="select" resultMap="BoardPostResultMap">
    SELECT * FROM board_post WHERE id = #{id}
  </select>

  <insert id="insert" >
    INSERT INTO board_post (title, content, type, created_at, community_id, user_id)
    VALUES (#{title}, #{content}, #{type}, #{createdAt}, #{communityId}, #{userId})
  </insert>

  <update id="update" >
    UPDATE board_post
    SET title = #{title},
        content = #{content},
        type = #{type},
        community_id = #{communityId},
        user_id = #{userId}
    WHERE id = #{id}
  </update>

  <delete id="delete">
    DELETE FROM board_post WHERE id = #{id}
  </delete>

  <select id="findByCommunity" resultMap="BoardPostResultMap">
    SELECT * FROM board_post WHERE community_id = #{communityId} ORDER BY created_at DESC
  </select>

  <select id="countAll" resultType="int">
  SELECT COUNT(*) FROM report
  </select>

  <!-- 게시글 수 세기 -->
 <select id="countByUserId" resultType="int">
    SELECT COUNT(*) FROM board_post WHERE user_id = #{userId}
  </select>

</mapper>
