<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cosmus.resonos.mapper.community.ReportMapper">

    <resultMap id="ReportResultMap" type="com.cosmus.resonos.domain.community.Report">
        <id property="id" column="id"/>
        <result property="targetType" column="target_type"/>
        <result property="reason" column="reason"/>
        <result property="status" column="status"/>
        <result property="createdAt" column="created_at"/>
        <result property="reporterId" column="reporter_id"/>
        <result property="targetId" column="target_id"/>
        <result property="processedBy" column="processed_by"/>
        <result property="processedAt" column="processed_at"/>
        <result property="processMemo" column="process_memo"/>
    </resultMap>

    <select id="findByReporterId" resultMap="ReportResultMap">
        SELECT * FROM report WHERE reporter_id = #{reporterId} ORDER BY created_at DESC
    </select>

    <select id="findByTargetId" resultMap="ReportResultMap">
        SELECT * FROM report WHERE target_id = #{targetId} ORDER BY created_at DESC
    </select>

    <select id="findByTargetTypeAndTargetId" resultMap="ReportResultMap">
        SELECT * FROM report WHERE target_type = #{targetType} AND target_id = #{targetId} ORDER BY created_at DESC
    </select>

    <select id="findAll" resultMap="ReportResultMap">
        SELECT * FROM report ORDER BY created_at DESC
    </select>

    <update id="updateStatus">
        UPDATE report SET status = #{status}, processed_by = #{processedBy}, processed_at = NOW(), process_memo = #{processMemo}
        WHERE id = #{id}
    </update>

    <insert id="insert" >
        INSERT INTO report
        (target_type, target_id, reason, status, created_at, reporter_id)
        VALUES
        (#{targetType}, #{targetId}, #{reason}, #{status}, NOW(), #{reporterId})
    </insert>

    <select id="list" resultMap="ReportResultMap">
        SELECT * FROM report ORDER BY created_at DESC
    </select>

    <select id="select" resultMap="ReportResultMap">
        SELECT * FROM report WHERE id = #{id}
    </select>

    <update id="update" >
        UPDATE report
        SET target_type = #{targetType},
            reason = #{reason},
            status = #{status},
            created_at = #{createdAt},
            reporter_id = #{reporterId},
            target_id = #{targetId},
            processed_by = #{processedBy},
            processed_at = #{processedAt},
            process_memo = #{processMemo}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM report WHERE id = #{id}
    </delete>

    <select id="countAll" resultType="int">
        SELECT COUNT(*) FROM report
    </select>

    <select id="countByBlind" resultType="int">
        SELECT COUNT(DISTINCT target_id)
        FROM report
        WHERE status = 'BLIND'
    </select>
    <!--  // report 페이징 countByStatus, findByStatusPaging, findAllPaging -->
    <select id="countByStatus" resultType="long">
        SELECT COUNT(*)
        FROM report
        WHERE status = #{status}
    </select>

    <select id="findByStatusPaging" resultMap="ReportResultMap">
        SELECT * FROM report
        WHERE status = #{status}
        ORDER BY created_at DESC
        LIMIT #{pagination.index}, #{pagination.size}
    </select>

    <select id="findAllPaging" resultMap="ReportResultMap">
        SELECT * FROM report
        ORDER BY created_at DESC
        LIMIT #{index}, #{size}
    </select>




</mapper>
