*{margin: 0; padding: 0; box-sizing: border-box; border: 1px solid black;}
#headline {font-size: 2.4rem; font-weight: bold;}
#subtitle {font-size: 2rem;}

img {
    display: block;
    width: 100%;
    height: 100%;
}