/* 기본 폰트 사이즈 */
html {font-size: 62.5%;}
body {font-size: 1.6rem;}

:root {
  /* 메인 컬러 */
  --main-color: #D4B97F !important;
  /* 백그라운드 컬러 */
  --background-color : #181C23 !important;
  /* 컨테이너 크기 */
  --container : 1440px !important;
}

body {
  color: #fff;
  background-color: var(--background-color);
}
/* 컨테이너 기본 크기 */
.container {width: 100% !important; max-width: var(--container) !important; margin: auto !important;}