.footer-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    border-top: 1px solid var(--main-color);
}

.footer-logo-section {
    border-right: 1px solid rgba(212, 185, 127, 0.7);
}

.footer-logo-img {
    width: 250px;
    height: 167px;
    margin: 0 auto;
    border-radius: 10px;
    object-fit: contain;
}

.footer-sns-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-link {
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
    color: var(--main-color);
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 400;
    text-align: center;
    width: 100%;
    transition: font-weight 0.2s;
}

.footer-link.selected {
    font-weight: 700;
}

.footer-info-title {
    color: var(--main-color);
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 0;
}

.footer-info-desc {
    color: #fff;
    font-size: 16px;
    white-space: pre-line;
    margin-top: 0;
}

.footer-bottom {
    border-top: 1px solid rgba(212, 185, 127, 0.7);
}

.footer-navbar {
    border-top: 1px solid var(--main-color);
}

.footer-copyright {
    color: #B1B1B1;
    font-size: 16px;
    text-align: center;
}