.header-navbar {
    background: #181C23 !important;
    border-bottom: 1px solid var(--main-color);
}
.header-navbar .navbar-brand,
.header-navbar .nav-link,
.header-navbar .navbar-text {
    color: var(--main-color) !important;
    font-weight: bold;
    letter-spacing: 1px;
}
.header-navbar .nav-link.active,
.header-navbar .nav-link:hover {
    color: #fffbe6 !important;
}
.header-logo-img {
    width: 150px;
    height: 100px;
    margin-right: 10px;
    border-radius: 6px;
    background: #181C23;
    object-fit: contain;
}
.header-logo-img-sub {
    width: 100px;
    height: 66px;
    border-radius: 6px;
    background: #181C23;
    object-fit: contain;
}
.search-box {
    border: 1px solid #B1B1B1;
    border-radius: 10px;
    height: 35px;
    background: transparent;
    color: #B1B1B1;
    padding-left: 35px;
    font-size: 12px;
}
.search-box::placeholder {
    color: #B1B1B1;
    opacity: 1;
}
.search-box:focus {
    background: transparent !important;
    color: #B1B1B1;
    box-shadow: none;
    border-color: #B1B1B1;
}
.search-icon {
    position: absolute;
    left: 10px;
    font-size: 20px;
    color: #B1B1B1;
    pointer-events: none;
}
header .btn-outline-gold {
    border: 1px solid #D4B97F;
    color: #D4B97F;
    border-radius: 10px;
    background: transparent;
    font-size: 12px;
    height: 35px;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.btn-outline-gold:hover {
    background: var(--main-color);
    color: #181C23;
}
/* 프로필 드롭다운 화살표 색상 */
.profile-dropdown .dropdown-toggle::after {
    color: #B1B1B1 !important;
    filter: none;
}
/* 검색창, 종, 프로필 간격 */
.header-gap {
    gap: 10px;
}
.dropdown-menu {
    background-color: #181C23;
    border-radius: 15px;
}
.dropdown-item {
    font-size: 1.6rem;
    color: #B1B1B1;
}
.dropdown-item:hover {
    background-color: transparent;
    color: var(--main-color);
}
.dropdown-divider {
    border-top: 1px solid var(--main-color) !important;
    opacity: 1;
}