<!DOCTYPE html>
<html
    lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layouts/main_layout}"
>
<head>
  <meta charset="UTF-8" />
  <title>팔로우 유저</title>
  <th:block th:replace="~{fragments/link::user}"></th:block>
</head>
<body>
  <main class="con con-badge position-relative" layout:fragment="content">
    <!-- 왼쪽 리모컨 -->
    <th:block th:replace="~{fragments/left_rc::mypage-tabs}"></th:block>
    <!-- 팔로워 -->
    <section class="info-wrapper">
      <div class="info-section">
        <div class="title">
          <div>
            <h2 class="text-start">획득한 배지</h2>
          </div>
        </div>
        <ul class="ul-list d-flex column-gap-3">
          <th:block th:each="i : ${#numbers.sequence(1, 10)}">
            <li>
              <div class="bg-badge">
                <div class="badge">
                  <span>배지 이름 3</span>
                </div>
                <p>획득 조건 출력</p>
              </div>
            </li>
          </th:block>
        </ul>
      </div>
    </section>
    <!-- 팔로우 -->
    <section class="info-wrapper">
      <div class="info-section">
        <div class="title">
          <div>
            <h2 class="text-start">미획득 배지</h2>
          </div>
        </div>
        <ul class="ul-list">
        </ul>
      </div>
    </section>
  </main>
</body>
</html>