<!DOCTYPE html>
<html
    lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layouts/main_layout}"
>
<head>
  <meta charset="UTF-8">
  <title>회원 정보 수정</title>
  <th:block th:replace="~{fragments/link::user}"></th:block>
</head>
<body>
  <th:block layout:fragment="content">
    <div class="con edit d-flex justify-content-center">
      <form th:action="@{/users/edit}" method="post" enctype="multipart/form-data" class="profile-edit-box" th:object="${user}">
        <th:block th:if="${success}">
          <p class="success-fail"
            th:classappend="${success == 'false' ? ' error' : ''}"
            th:text="${success == 'false' ? '업데이트 실패하였습니다.' : '업데이트 완료되었습니다.'}">
          </p>
        </th:block>
        <h3>프로필 편집</h3>
        <label id="profileBtn" for="profileImg">
          <img th:src="@{${user.profileImage}}" alt="프로필 이미지" class="profile-img edit">
          <input type="file" name="profileImg" id="profileImg">
          <input type="hidden" name="profileImage" th:value="${user.profileImage}">
        </label>
        <p class="my-5">
          <span class="current badge" th:text="${badgeName == null ? '' : badgeName}">
            현재 배지
          </span>
          <input type="hidden" th:field="*{currentBadge}">
        </p>
        <div class="input-area">
          <p class="profile-edit-label">보유 배지</p>
          <div class="change-edge">
            <div>
              <th:block th:each="badge : ${badgeList}">
                <div class="bg-badge">
                    <input type="hidden" th:value="${badge.id}">
                    <div class="badge">
                      <span th:text="${badge.name}"></span>
                    </div>
                  <p th:text="${badge.description}">획득 조건 출력</p>
                </div>
              </th:block>
            </div>
          </div>
          <label class="profile-edit-label" for="nickname">닉네임</label>
          <input type="text" class="form-control" th:field="*{nickname}">
          <p class="fail-vali text-start" th:text="${nickError != null ? '숫자만을 제외한 조합으로 2 ~ 10글자 사이여야 합니다.' : nickDuple != null ? '사용중인 닉네임 입니다.' : ''}">닉네임 형식이 올바르지 않습니다.</p>
          <label class="profile-edit-label" for="email">이메일</label>
          <input type="email" class="form-control" th:field="*{email}">
          <p class="fail-vali text-start"  th:text="${emailError != null ? '유효한 형식의 이메일을 입력해주세요.' : ''}">이메일 형식이 올바르지 않습니다.</p>
          <label class="profile-edit-label" for="bio">자기소개</label>
          <textarea class="form-control" th:field="*{bio}" rows="2" placeholder="자기소개를 입력하세요.">음악과 우주, 그리고 커뮤니티를 사랑합니다.</textarea>
        </div>
        <div class="btn-area">
          <button class="btn btn-gold" type="submit">정보 수정</button>
          <a th:href="@{/users/mypage}" class="btn btn-outline-gold" type="button">마이페이지</a>
        </div>
      </form>
  </div>
  </th:block>
  <th:block layout:fragment="pageScript">
    <script>
      document.getElementById('profileImg').addEventListener('change', function (event) {
        const file = event.target.files[0];
        const preview = document.querySelector('.profile-img.edit');

        if (file) {
          const reader = new FileReader()
          reader.onload = function (e) {
            preview.src = e.target.result
          };
          reader.readAsDataURL(file);
        } else {
          preview.src = ''
        }
      });

      /* 배지 변경 */
      const badges = document.querySelectorAll('.bg-badge')
      badges.forEach(e => {
        e.addEventListener('click', function() {
        const badge = this.querySelector('.badge span').textContent
        const badgeId = this.querySelector('input[type="hidden"]').value

        console.log(typeof badgeId)
        console.log(typeof document.getElementById('currentBadge').value)

        if(badgeId.trim() === document.getElementById('currentBadge').value.trim()) {
          document.querySelector('.current.badge').textContent = ''
          document.getElementById('currentBadge').value = 0
          return
        }

        document.querySelector('.current.badge').textContent = badge
        document.getElementById('currentBadge').value = badgeId
        })
      })
    </script>
  </th:block>
</body>
</html>
