<!DOCTYPE html>
<html
    lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layouts/main_layout}"
>
<head>
  <meta charset="UTF-8" />
  <title>팔로우 아티스트</title>
  <th:block th:replace="~{fragments/link::user}"></th:block>
</head>
<body>
  <main class="con con-follow-art my-5 position-relative" layout:fragment="content">
    <!-- 왼쪽 리모컨 -->
    <th:block th:replace="~{fragments/left_rc::mypage-tabs}"></th:block>
    <!-- 팔로워 -->
    <section class="info-section">
      <div class="title">
        <div>
          <h2 class="text-start">팔로우 아티스트</h2>
          <span class="count">92</span>
        </div>
      </div>
      <ul class="follow-list">
        <th:block th:each="i : ${#numbers.sequence(1,20)}">
          <li class="follow-item">
            <img src="https://randomuser.me/api/portraits/men/44.jpg" alt="GalaxiNote" class="follow-img" />
            <div class="follow-info">
              <span class="follow-nick">GalaxiNote</span>
              <span class="follow-badge">CLASSICIAN</span>
            </div>
            <p class="bio">
                자기소개 자기소개 자기소개
            </p>
          </li>
          <li class="follow-item">
            <img src="https://randomuser.me/api/portraits/women/55.jpg" alt="LunaBeats" class="follow-img" />
            <div class="follow-info">
              <span class="follow-nick">LunaBeats</span>
              <span class="follow-badge">JAZZ LOVER</span>
            </div>
            <p class="bio">
                자기소개 자기소개 자기소개
            </p>
          </li>
        </th:block>
      </ul>
    </section>
  </main>
</body>
</html>