<!DOCTYPE html>
<html
    lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layouts/main_layout}"
>
<head>
  <meta charset="UTF-8" />
  <title>팔로우 유저</title>
  <th:block th:replace="~{fragments/link::user}"></th:block>
</head>
<body>
  <main class="con con-follow position-relative" layout:fragment="content">
    <!-- 왼쪽 리모컨 -->
    <th:block th:replace="~{fragments/left_rc::mypage-tabs}"></th:block>
    <!-- 팔로워 -->
    <section class="info-wrapper">
      <div class="info-section">
        <div class="title">
          <div>
            <h2 class="text-start">팔로워</h2>
            <span class="count" th:text="${myFollower.size()}">팔로워 수</span>
          </div>
        </div>
        <ul class="ul-list follower">
          <th:block th:if="${#lists.isEmpty(myFollower)}">
            <p class="empty-text">팔로워가 없습니다.</p>
          </th:block>
          <th:block th:each="follower : ${myFollower}">
            <li class="list-item">
              <img th:src="@{${follower.profileImage}}" alt="프로필 이미지" class="follow-img" />
              <div class="info">
                <span class="follow-nick" th:text="${follower.nickname}">닉네임</span>
                <span class="follow-badge">배지</span>
              </div>
            </li>
          </th:block>
        </ul>
      </div>
    </section>
    <!-- 팔로우 -->
    <section class="info-wrapper">
      <div class="info-section">
        <div class="title">
          <div>
            <h2 class="text-start">팔로우</h2>
            <span class="count" th:text="${myFollow.size()}">팔로우 수</span>
          </div>
        </div>
        <ul class="ul-list">
          <th:block th:if="${#lists.isEmpty(myFollow)}">
            <p class="empty-text">팔로우한 회원이 없습니다.</p>
          </th:block>
          <th:block th:each="follow : ${myFollow}">
            <li class="list-item">
              <img th:src="@{${follow.profileImage}}" alt="프로필 이미지" class="follow-img" />
              <div class="info">
                <span class="follow-nick" th:text="${follow.nickname}">닉네임</span>
                <span class="follow-badge">배지</span>
              </div>
              <button class="btn-outline-gold btn-sm">언팔로우</button>
            </li>
          </th:block>
        </ul>
      </div>
    </section>
  </main>
</body>
</html>