<!DOCTYPE html>
<html
    lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layouts/main_layout}"
>
<head>
  <meta charset="UTF-8" />
  <meta name="_csrf" th:content="${_csrf.token}" />
  <meta name="_csrf_header" th:content="${_csrf.headerName}" />
  <title>팔로우 유저</title>
  <th:block th:replace="~{fragments/link::user}"></th:block>
</head>
<body>
  <main class="con con-follow position-relative" layout:fragment="content">
    <!-- 왼쪽 리모컨 -->
    <th:block th:if="${isOwner}">
      <th:block th:replace="~{fragments/left_rc::mypage-tabs}"></th:block>
    </th:block>
    <!-- 팔로워 -->
    <section class="info-wrapper" th:classappend="${ !isOwner ? 'go-center' : ''}">
      <div class="info-section">
        <div class="title">
          <div>
            <h2 class="text-start">팔로워</h2>
            <span class="count" th:text="${myFollower.size()}">팔로워 수</span>
          </div>
          <div class="text-center position-relative">
            <i class="bi bi-search search-icon position-absolute"></i>
            <input id="follower-search" type="text" class="basic-input follower" name="keyword" placeholder="키워드를 입력하세요.">
          </div>
        </div>
        <ul class="ul-list follower">
          <th:block th:if="${#lists.isEmpty(myFollower)}">
            <p class="empty-text">팔로워가 없습니다.</p>
          </th:block>
          <th:block th:each="follower : ${myFollower}">
            <li class="list-item">
              <input type="hidden" th:value="${follower.id}">
              <img th:src="@{${follower.profileImage}}" alt="프로필 이미지" class="follow-img" />
              <div class="info">
                <span class="follow-nick" th:text="${follower.nickname}">닉네임</span>
              </div>
            </li>
          </th:block>
        </ul>
      </div>
    </section>
    <!-- 팔로우 -->
    <section class="info-wrapper" th:classappend="${ !isOwner ? 'go-center' : ''}">
      <div class="info-section">
        <div class="title">
          <div>
            <h2 class="text-start">팔로우</h2>
            <span class="count" th:text="${myFollow.size()}">팔로우 수</span>
          </div>
          <div class="text-center position-relative">
            <i class="bi bi-search search-icon position-absolute"></i>
            <input id="follow-search" type="text" class="basic-input follow" name="keyword" placeholder="키워드를 입력하세요.">
          </div>
        </div>
        <ul class="ul-list follow">
          <th:block th:if="${#lists.isEmpty(myFollow)}">
            <p class="empty-text">팔로우한 회원이 없습니다.</p>
          </th:block>
          <th:block th:each="follow : ${myFollow}">
            <li class="list-item">
              <input type="hidden" th:value="${follow.id}">
              <img th:src="@{${follow.profileImage}}" alt="프로필 이미지" class="follow-img" />
              <div class="info">
                <span class="follow-nick" th:text="${follow.nickname}">닉네임</span>
              </div>
              <th:block th:if="${isOwner}">
                <button id="btn-follow" class="btn-outline-gold btn-sm already">언팔로우</button>
              </th:block>
            </li>
          </th:block>
        </ul>
      </div>
    </section>
  </main>
  <th:block layout:fragment="pageScript">
    <script>

      const userId = [[${userId}]]
      const isOwner = [[${isOwner}]]
      const token = document.querySelector('meta[name="_csrf"]').getAttribute('content')
      const header = document.querySelector('meta[name="_csrf_header"]').getAttribute('content')

      /* 유저 페이지 이동 */
      const lists = document.querySelectorAll(".ul-list")
      lists.forEach(e => {
        e.addEventListener("click", function(event) {
          if(event.target.tagName.toLowerCase() === 'button') {
            follow(event)
          }

          if(event.target.tagName.toLowerCase() === 'li') {
            const userId = event.target.querySelector('input[type="hidden"]').value
            location.href = `/users/${userId}`
          }
        })
      })

      /* 팔로우 / 언팔로우 */
      async function follow(event) {
        console.log(event.target)
        let method = ''
        const currentStyle = event.target.classList.contains('already')
        let userId = event.target.closest('.list-item').querySelector('input[type="hidden"]').value
        let url = `/user-follows/${userId}`
        if(currentStyle) method = 'DELETE'
        else method = 'POST'
        try {
            /* Security 제공 CSRF */
            const response = await fetch(url, {
                method: method,
                headers: {
                    [header] : token,
                    "Content-Type": "application/json"
                },
            })

          if (!response.ok) {
              const result = await response.text()
              alert(result)
              if(result === '로그인이 필요한 서비스입니다.') {
                sessionStorage.setItem('returnTo', location.href)
                location.href = '/login'
              }
              return
          }
          // 성공시
          const text = await response.text()
          Swal.fire({
            position: "center",
            icon: "success",
            title: text,
            showConfirmButton: false,
            timer: 800,
            customClass: {
              popup: 'follow-popup',
              icon: 'success-icon',
              title: 'alert-title'
            }
          });
          const followBtn = event.target
          followBtn.classList.toggle('already')
          if(event.target.classList.contains('already')) {
            followBtn.textContent = '언팔로우'
          } else {
            followBtn.textContent = '팔로우'
          }
        } catch (error) {
            console.log("서버 에러.")
          }
      }

      /* 요청에 딜레이 넣기 */
      function debounce(fn, delay) {
        let timer;
        return function (...args) {
          clearTimeout(timer);
          timer = setTimeout(() => fn.apply(this, args), delay);
        };
      }

      const debouncedGetUsers = debounce(getUsers, 300);

      document.getElementById('follower-search').addEventListener('keyup', debouncedGetUsers);

      document.getElementById('follow-search').addEventListener('keyup', debouncedGetUsers);

      /* 팔로워 키워드 검색 */
      async function getUsers(event) {
        console.log(event.target)
        let url = `/user-follows/search`
        let choice = ''
        if(event.target.classList.contains('follow'))
          choice = 'follow'
        else choice = 'follower'

        console.log(choice)

        const data = {
          keyword : event.target.value,
          userId : userId,
          choice : choice
        }

        try {
            const response = await fetch(url, {
                method: 'POST',
                headers: {
                    [header] : token,
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(data)
            })

          if (!response.ok) {
              const result = await response.text()
              console.log(result)
              return
          }
          // 성공시
          const result = await response.json()
          if(event.target.classList.contains('follow'))
            renderFollow(result)
          else
            renderFollower(result)
        } catch (error) {
            console.log(error)
          }
      }

      /* 팔로우 목록 렌더링 */
      function renderFollow(users) {
        const ulList = document.querySelector('.ul-list.follow')
        ulList.innerHTML = ''

        users.forEach(user => {
          const li = document.createElement('li')
          li.classList.add('list-item')

          li.innerHTML = `
            <input type="hidden" value="${user.id}">
            <img src="${user.profileImage}" alt="GalaxiNote" class="follow-img">
            <div class="info">
              <span class="follow-nick">${user.nickname}</span>
            </div>
            ${isOwner ? '<button id="btn-follow" class="btn-outline-gold btn-sm already">언팔로우</button>' : ''}
          `
          ulList.appendChild(li)
        })
      }

      /* 팔로워 목록 렌더링 */
      function renderFollower(users) {
        const ulList = document.querySelector('.ul-list.follower')
        ulList.innerHTML = ''

        users.forEach(user => {
          const li = document.createElement('li')
          li.classList.add('list-item')

          li.innerHTML = `
            <input type="hidden" value="${user.id}">
            <img src="${user.profileImage}" alt="GalaxiNote" class="follow-img">
            <div class="info">
              <span class="follow-nick">${user.nickname}</span>
            </div>
          `
          ulList.appendChild(li)
        })
      }
    </script>
    <script th:src="@{/js/remotecontroller.js}"></script>
  </th:block>
</body>
</html>