<!DOCTYPE html>
<html
    lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layouts/main_layout}"
>
<head>
  <meta charset="UTF-8" />
  <title>팔로우 아티스트</title>
  <th:block th:replace="~{fragments/link::user}"></th:block>
</head>
<body>
  <main class="con con-follow-art position-relative" layout:fragment="content">
    <!-- 왼쪽 리모컨 -->
    <th:block th:if="${isOwner}">
      <th:block th:replace="~{fragments/left_rc::mypage-tabs}"></th:block>
    </th:block>
    <!-- 팔로워 -->
    <section class="info-wrapper" th:classappend="${!isOwner ? 'go-center' : ''}">
      <div class="info-section">
        <div class="title">
          <div>
            <h2 class="text-start">팔로우 아티스트</h2>
            <span class="count" th:text="${artistList.size()}">아티스트 수</span>
          </div>
          <div class="text-center position-relative">
            <i class="bi bi-search search-icon position-absolute"></i>
            <input id="artist-search" type="text" class="basic-input" name="keyword" placeholder="키워드를 입력하세요.">
          </div>
        </div>
        <ul class="ul-list">
          <th:block th:if="${artistList.isEmpty() or artistList == null}">
          <div class="empty-text">
            <p>팔로우 한 아티스트가 없습니다.</p>
          </div>
          </th:block>
          <th:block th:each="artist : ${artistList}">
            <li class="list-item">
              <input type="hidden" th:value="${artist.id}">
              <img th:src="${artist.profileImage}" alt="GalaxiNote" class="follow-img" />
              <div class="info">
                <span class="follow-nick" th:text="${artist.name}">GalaxiNote</span>
              </div>
              <th:block th:if="${isOwner}">
                <button class="btn-outline-gold btn-sm follow-artist">언팔로우</button>
              </th:block>
            </li>
          </th:block>
        </ul>
      </div>
    </section>
  </main>
  <th:block layout:fragment="pageScript">
    <script>
      /* 아티스트 상세 페이지 이동 */
      document.querySelectorAll(".ul-list .list-item").forEach(e => {
        e.addEventListener('click', function(event) {
          const id = this.querySelector('input[type="hidden"]').value
          if(event.target.tagName.toLowerCase() === 'button') return
          location.href = `/artists?id=${id}`
        })
      })

      /* 아티스트 팔로우 */
      $(document).on('click', '.follow-artist', function () {
          const csrfHeader = $('meta[name="_csrf_header"]').attr('content');
          const csrfToken = $('meta[name="_csrf"]').attr('content');

          // CSRF 설정
          $.ajaxSetup({
              beforeSend: function (xhr) {
                  xhr.setRequestHeader(csrfHeader, csrfToken);
              }
          });
          const $btn = this
          const userId = [[${userId}]]
          const artistId = $btn.closest('.list-item').querySelector('input[type="hidden"]').value

          if (!userId || userId === 0) {
              Swal.fire('로그인이 필요합니다!');
              return;
          }

          $.ajax({
              url: '/artists/toggle-like',
              type: 'POST',
              contentType: 'application/json',
              data: JSON.stringify({ userId: userId, artistId: artistId }),
              success: function (res) {
                  const followed = res.followed;
                  const text = followed ? '팔로우 하였습니다.' : '언팔로우 하였습니다.'
                  Swal.fire({
                    position: "center",
                    icon: "success",
                    title: text,
                    showConfirmButton: false,
                    timer: 800,
                    customClass: {
                      popup: 'follow-popup',
                      icon: 'success-icon',
                      title: 'alert-title'
                    }
                  });
                  // UI 갱신
                  $btn.textContent = followed ? '언팔로우' : '팔로우'
                  if(!followed) {
                    $btn.classList.remove('btn-outline-gold')
                    $btn.classList.add('btn-gold')
                  } else {
                    $btn.classList.add('btn-outline-gold')
                    $btn.classList.remove('btn-gold')
                  }
              },
              error: function () {
                  Swal.fire('좋아요 처리에 실패했습니다.');
              }
          });
      });

      function debounce(fn, delay) {
        let timer;
        return function (...args) {
          clearTimeout(timer);
          timer = setTimeout(() => fn.apply(this, args), delay);
        };
      }

      /* 요청에 딜레이 넣기 */
      const debouncedGetArtist = debounce(getArtist, 300);
      document.getElementById('artist-search').addEventListener('keyup', debouncedGetArtist);

      /* 아티스트 키워드 검색 */
      async function getArtist(event) {

        let url = `/artists/search`

        const data = {
          keyword : event.target.value,
          userId : userId
        }

        try {
            const response = await fetch(url, {
                method: 'POST',
                headers: {
                    [header] : token,
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(data)
            })

          if (!response.ok) {
              const result = await response.text()
              console.log(result)
              return
          }
          // 성공시
          const result = await response.json()
          renderArtists(result)
        } catch (error) {
            console.log(error)
          }
      }

      /* 좋아요 한 트랙 렌더링 */
      function renderArtists(artists) {
        const ulList = document.querySelector('.ul-list.album')
        ulList.innerHTML = ''

        artists.forEach(artist => {
          const li = document.createElement('li')
          li.classList.add('list-item')

          li.innerHTML = `
            <input type="hidden" value="${artist.id}">
            <img src="${artist.profileImage}" alt="GalaxiNote" class="follow-img">
            <div class="info">
              <span class="follow-nick">${artist.name}</span>
            </div>
          `
          ulList.appendChild(li)
        })
      }

    </script>
    <script th:src="@{/js/remotecontroller.js}"></script>
  </th:block>
</body>
</html>