<!DOCTYPE html>
<html
    lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layouts/main_layout}"
>
<head>
  <meta charset="UTF-8" />
  <title>팔로우 아티스트</title>
  <th:block th:replace="~{fragments/link::user}"></th:block>
</head>
<body>
  <main class="con con-follow-art position-relative" layout:fragment="content">
    <!-- 왼쪽 리모컨 -->
    <th:block th:if="${isOwner}">
      <th:block th:replace="~{fragments/left_rc::mypage-tabs}"></th:block>
    </th:block>
    <!-- 팔로워 -->
    <section class="info-wrapper" th:classappend="${!isOwner ? 'go-center' : ''}">
      <div class="info-section">
        <div class="title">
          <div>
            <h2 class="text-start">팔로우 아티스트</h2>
            <span class="count" th:text="${artistList.size()}">아티스트 수</span>
          </div>
        </div>
        <ul class="ul-list">
          <th:block th:if="${artistList.isEmpty() or artistList == null}">
          <div class="empty-text">
            <p>팔로우 한 아티스트가 없습니다.</p>
          </div>
          </th:block>
          <th:block th:each="artist : ${artistList}">
            <li class="list-item">
              <img th:src="${artist.profileImage}" alt="GalaxiNote" class="follow-img" />
              <div class="info">
                <span class="follow-nick" th:text="${artist.name}">GalaxiNote</span>
              </div>
              <th:block th:if="${isOwner}">
                <button class="btn-outline-gold btn-sm">언팔로우</button>
              </th:block>
            </li>
          </th:block>
        </ul>
      </div>
    </section>
  </main>
</body>
</html>