<!DOCTYPE html>
<html
    lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layouts/main_layout}"
>
<head>
  <meta charset="UTF-8" />
  <title>좋아요 앨범/트랙</title>
  <th:block th:replace="~{fragments/link::user}"></th:block>
</head>
<body>
  <main class="con con-music position-relative" layout:fragment="content">
    <!-- 왼쪽 리모컨 -->
    <th:block th:if="${isOwner}">
      <th:block th:replace="~{fragments/left_rc::mypage-tabs}"></th:block>
    </th:block>
    <!-- 앨범 -->
    <section class="info-wrapper" th:classappend="${ !isOwner ? 'go-center' : ''}">
      <div class="info-section album">
        <div class="title">
          <div>
            <h2 class="text-start">좋아요 한 앨범</h2>
            <span class="count" th:text="${countAlbum}">앨범 수</span>
          </div>
          <div class="text-center position-relative">
            <i class="bi bi-search search-icon position-absolute"></i>
            <input id="album-search" type="text" class="basic-input" name="keyword" placeholder="키워드를 입력하세요.">
          </div>
        </div>
        <ul class="ul-list album">
          <th:block th:if="${likedAlbumList == null or likedAlbumList.isEmpty()}">
            <div class="empty-text">
              <p>좋아요 한 앨범이 없습니다.</p>
            </div>
          </th:block>
          <th:block th:each="album : ${likedAlbumList}">
            <li class="list-item">
              <input type="hidden" th:value="${album.id}">
              <img th:src="${album.coverImage}" alt="GalaxiNote" class="follow-img" />
              <div class="info">
                <span class="name-album" th:text="${album.title}">앨범 명</span>
                <span class="name-artist" th:text="${album.artistName}">아티스트 명</span>
              </div>
              <th:block th:if="${isOwner}">
                <span class="like like-album">♥</span>
              </th:block>
            </li>
          </th:block>
        </ul>
      </div>
    </section>
    <!-- 트랙 -->
    <section class="info-wrapper" th:classappend="${ !isOwner ? 'go-center' : ''}">
      <div class="info-section track">
        <div class="title">
          <div>
            <h2 class="text-start">좋아요 한 트랙</h2>
            <span class="count" th:text="${countTrack}">트랙 수</span>
          </div>
          <div class="text-center position-relative">
            <i class="bi bi-search search-icon position-absolute"></i>
            <input id="track-search" type="text" class="basic-input" name="keyword" placeholder="키워드를 입력하세요.">
          </div>
        </div>
        <ul class="ul-list track">
          <th:block th:if="${likedTrackList == null or likedTrackList.isEmpty()}">
            <div class="empty-text">
              <p>좋아요 한 트랙이 없습니다.</p>
            </div>
          </th:block>
          <th:block th:each="track : ${likedTrackList}">
            <li class="list-item">
              <input type="hidden" th:value="${track.id}">
              <img th:src="${track.coverImage}" alt="GalaxiNote" class="follow-img" />
              <div class="info">
                <span class="name-album" th:text="${track.title}">트랙 명</span>
                <span class="name-artist" th:text="${track.artistName}">아티스트 명</span>
              </div>
              <th:block th:if="${isOwner}">
                <button type="button" class="like like-track">♥</button>
              </th:block>
            </li>
          </th:block>
        </ul>
      </div>
    </section>
  </main>
  <th:block layout:fragment="pageScript">
    <script th:inline="javascript">
      const token = document.querySelector('meta[name="_csrf"]').getAttribute('content')
      const header = document.querySelector('meta[name="_csrf_header"]').getAttribute('content')
      const userId = [[${userId}]]
      if(userId == null) location.href = '/login'

      /* 앨범 이동 */
      const albumList = document.querySelector(".info-section.album ul")
      albumList.addEventListener("click", function(event) {
        if(event.target.tagName.toLowerCase() === 'button') return
        if(event.target.tagName.toLowerCase() === 'li') {
          const albumId = event.target.closest('.list-item').querySelector('input[type="hidden"]').value
          location.href = `/albums?id=${albumId}`
        }
      })

      /* 트랙 이동 */
      const trackList = document.querySelector(".info-section.track ul")
      trackList.addEventListener("click", function(event) {
        if (event.target.tagName.toLowerCase() === 'button') return
        if(event.target.tagName.toLowerCase() === 'li') {
          const trackId = event.target.closest('.list-item').querySelector('input[type="hidden"]').value
          location.href = `/tracks?id=${trackId}`
        }
      })

      // 트랙 좋아요
      $(document).on('click', '.like.like-track', function (event) {

          const trackId = event.target.closest('.list-item').querySelector('input[type="hidden"]').value
          if (!userId || userId === 0) {
              Swal.fire('로그인이 필요합니다!');
              return;
          }

          $.ajax({
              url: '/tracks/toggle-like',
              type: 'POST',
              contentType: 'application/json',
              headers: {
                  [header]: token
              },
              data: JSON.stringify({ userId: userId, trackId: trackId }),
              success: function (res) {
                  const liked = res.liked;
                  const text = liked ? '좋아요를 완료했습니다.' : '좋아요를 취소했습니다.'
                  Swal.fire({
                    position: "center",
                    icon: "success",
                    title: text,
                    showConfirmButton: false,
                    timer: 800,
                    customClass: {
                      popup: 'follow-popup',
                      icon: 'success-icon',
                      title: 'alert-title'
                    }
                  });
                  event.target.innerText = liked ? '♥' : '♡'
              },
              error: function () {
                  Swal.fire('좋아요 처리에 실패했습니다.');
              }
          });
        });

      // 앨범 좋아요
      $(document).on('click', '.like-album', function (event) {
          const albumId = event.target.closest('.list-item').querySelector('input[type="hidden"]').value

          if (!userId || userId === 0) {
              Swal.fire('로그인이 필요합니다!');
              return;
          }

          $.ajax({
              url: '/albums/toggle-like',
              type: 'POST',
              contentType: 'application/json',
              headers: {
                  [header]: token
              },
              data: JSON.stringify({ userId: userId, albumId: albumId }),
              success: function (res) {
                  const liked = res.liked;
                  const text = liked ? '좋아요를 완료했습니다.' : '좋아요를 취소했습니다.'
                  Swal.fire({
                    position: "center",
                    icon: "success",
                    title: text,
                    showConfirmButton: false,
                    timer: 800,
                    customClass: {
                      popup: 'follow-popup',
                      icon: 'success-icon',
                      title: 'alert-title'
                    }
                  });
                  event.target.innerText = liked ? '♥' : '♡'
              },
              error: function () {
                  Swal.fire('좋아요 처리에 실패했습니다.');
              }
          });
      });

      /* 좋아요 한 트랙 검색 */
      let trackOffset = 0
      const trackLimit = 20
      let trackLoading = false
      let trackAllLoaded = false
      let trackKeyword = ''

      function debounce(fn, delay) {
        let timer;
        return function (...args) {
          clearTimeout(timer);
          timer = setTimeout(() => fn.apply(this, args), delay);
        };
      }

      // 요청 딜레이
      const debouncedGetTracks = debounce(() => getTracks(true), 300);
      document.getElementById('track-search').addEventListener('keyup', debouncedGetTracks);

      // 스크롤 이벤트
      const trackScrollWindow = document.querySelector('.info-section.track')

      trackScrollWindow.addEventListener('scroll', async () => {
        const nearBottom = trackScrollWindow.scrollTop + trackScrollWindow.clientHeight >= trackScrollWindow.scrollHeight - 150

        if (nearBottom && !trackLoading && !trackAllLoaded) {
          trackLoading = true
          await getTracks(false)
          trackLoading = false
        }
      })

      // 비동기 요청
      async function getTracks(reset = false) {
        if(reset) {
          trackOffset = 0
          trackAllLoaded = false
          document.querySelector('.ul-list.track').innerHTML = ''
        }

        let url = `/tracks/search`
        trackKeyword = document.getElementById('track-search').value.trim()

        const data = {
          keyword : trackKeyword,
          userId : userId,
          offset : trackOffset,
          limit : trackLimit
        }

        try {
            const response = await fetch(url, {
                method: 'POST',
                headers: {
                    [header] : token,
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(data)
            })

          if (!response.ok) {
              const result = await response.text()
              console.log(result)
              return
          }
          // 성공시
          const result = await response.json()
          renderTracks(result, reset)
          trackOffset += trackLimit
          if (result.length < trackLimit) trackAllLoaded = true
          console.log(`트랙 옵셋 : ${trackOffset}`)
        } catch (error) {
            console.log(error)
          }
      }

      // 트랙 렌더링
      function renderTracks(tracks, reset = false) {
        const ulList = document.querySelector('.ul-list.track')
        if (reset) ulList.innerHTML = ''

        tracks.forEach(track => {
          const li = document.createElement('li')
          li.classList.add('list-item')

          li.innerHTML = `
            <input type="hidden" value="${track.id}">
            <img src="${track.coverImage}" class="follow-img">
            <div class="info">
              <span class="name-album">${track.title}</span>
              <span class="name-artist">${track.artistName}</span>
            </div>
          `
          ulList.appendChild(li)
        })
      }

      /* 좋아요 한 앨범 검색 */
      let albumOffset = 0
      const albumLimit = 20
      let albumLoading = false
      let albumAllLoaded = false
      let albumKeyword = ''

      // 요청에 딜레이
      const debouncedGetAlbum = debounce(() => getAlbums(true), 300);
      document.getElementById('album-search').addEventListener('keyup', debouncedGetAlbum);

      // 스크롤 이벤트
      const albumScrollWindow = document.querySelector('.info-section.album')

      albumScrollWindow.addEventListener('scroll', async () => {
        const nearBottom = albumScrollWindow.scrollTop + albumScrollWindow.clientHeight >= albumScrollWindow.scrollHeight - 150

        if (nearBottom && !albumLoading && !albumAllLoaded) {
          albumLoading = true
          await getAlbums(false)
          albumLoading = false
        }
      })

      /* 좋아요 한 앨범 검색 */
      async function getAlbums(reset = false) {

        if(reset) {
          albumOffset = 0
          albumAllLoaded = false
          document.querySelector('.ul-list.album').innerHTML = ''
        }

        let url = `/albums/search`
        albumKeyword = document.getElementById('album-search').value.trim()

        const data = {
          keyword : albumKeyword,
          userId : userId,
          offset : albumOffset,
          limit : albumLimit
        }

        try {
            const response = await fetch(url, {
                method: 'POST',
                headers: {
                    [header] : token,
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(data)
            })

          if (!response.ok) {
              const result = await response.text()
              console.log(result)
              return
          }
          // 성공시
          const result = await response.json()
          renderAlbums(result, reset)
          albumOffset += albumLimit
          if(result.length < albumLimit) albumAllLoaded = true
          console.log(`앨범 옵셋 : ${albumOffset}`)
        } catch (error) {
            console.log(error)
          }
      }

      /* 좋아요 한 앨범 렌더링 */
      function renderAlbums(albums, reset = false) {
        const ulList = document.querySelector('.ul-list.album')
        if(reset) ulList.innerHTML = ''

        albums.forEach(album => {
          const li = document.createElement('li')
          li.classList.add('list-item')

          li.innerHTML = `
            <input type="hidden" value="${album.id}">
            <img src="${album.coverImage}" class="follow-img">
            <div class="info">
              <span class="name-album">${album.title}</span>
              <span class="name-artist">${album.artistName}</span>
            </div>
          `
          ulList.appendChild(li)
        })
      }
    </script>
    <script th:src="@{/js/remotecontroller.js}"></script>
  </th:block>
</body>
</html>