<!DOCTYPE html>
<html
    lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layouts/main_layout}"
>
<head>
  <meta charset="UTF-8">
  <meta name="_csrf" th:content="${_csrf.token}" />
  <meta name="_csrf_header" th:content="${_csrf.headerName}" />
  <title>마이페이지</title>
  <th:block th:replace="~{fragments/link::user}"></th:block>
</head>
<body>
  <main class="con con-mypage" layout:fragment="content">
    <section class="profile-section">
      <div class="d-flex flex-column justify-content-center row-gap-4 me-5">
        <img th:src="${user.profileImage}" alt="프로필 이미지" class="profile-img">
        <th:block th:if="${!isOwner}">
          <button id="btn-follow" class="btn-gold"
          th:text="${alreadyFollow ? '언팔로우' : '팔로우'}"
          th:classappend="${alreadyFollow ? 'already' : ''}"
          >팔로우</button>
        </th:block>
      </div>
      <div class="profile-info">
        <div class="info-top">
          <h2 th:text="${user.nickname}">닉네임</h2>
          <th:block th:if="${!currentBadge.equals('')}">
            <span class="badge" th:text="${currentBadge}">배지</span>
          </th:block>
        </div>
        <p id="bio" th:text="${user.bio}">자기소개</p>
        <th:block th:if="${isOwner}">
          <div class="profile-actions">
            <a th:href="@{/users/edit}" class="mybtn-gold">프로필 편집</a>
            <form th:action="@{/logout}" id="form-logout" method="post">
              <button id="btn-logout" class="mybtn-outline d-flex justify-content-center" type="submit">로그아웃</button>
            </form>
          </div>
        </th:block>
      </div>
      <div class="profile-meta">
        <div><a th:href="@{/users/{id}/follow-user(id = ${user.id})}"><b>팔로워</b><br><span id="follower-count" th:text="${followerCount}">수</span></a></div>
        <div><a th:href="@{/users/{id}/follow-user(id = ${user.id})}"><b>팔로우</b><br><span id="follow-count" th:text="${followCount}">수</span></a></div>
        <div><a><b>뱃지</b><br>3</a></div>
      </div>
    </section>
    <div class="my-middle">
      <!-- 플레이리스트 -->
      <a th:href="@{/users/{id}/playlists(id = ${user.id})}">
        <div class="mypage-card playlist">
          <h3 th:text="${isOwner ? '내 플레이리스트' : '플레이리스트'}">내 플레이리스트</h3>
          <th:block th:if="${playlists == null or #lists.isEmpty(playlists)}">
            <div class="empty-text">
              <p>플레이리스트가 없습니다.</p>
              <th:block th:if="${isOwner}">
                <p>만들러 가기 ➡️</p>
              </th:block>
            </div>
          </th:block>
          <ul>
            <th:block th:each="pl : ${playlists}">
              <li>
                <div>
                  <img class="cover-img" width="50px" height="50px" th:src="${pl.thumbnailUrl}" alt="커버이미지">
                  <th:block th:text="${pl.title}">플레이리스트 이름</th:block>
                </div>
                <div class="like-count">
                  <span th:text="${pl.likeCount}">123</span>
                  <span class="like">♥</span>
                </div>
              </li>
            </th:block>
          </ul>
        </div>
      </a>
      <div class="chart-area">
        <canvas id="doughnut" height="200"></canvas>
      </div>
    </div>
    <section class="mypage-grid">
      <!-- 좋아요 한 앨범 -->
      <a class="grid-item" th:href="@{/users/{id}/liked-music(id = ${user.id})}">
        <div class="mypage-card album">
          <h3>좋아요 표시한 앨범</h3>
          <ul>
            <th:block th:if="${albumList == null or albumList.isEmpty()}">
              <div class="empty-text">
                <p>좋아요 표시한 앨범이 없습니다.</p>
              </div>
            </th:block>
            <th:block th:each="album : ${albumList}">
              <li>
                <img width="50px" height="50px" th:src="${album.coverImage}" alt="커버이미지">
                <p th:text="${album.title}">좋아요 표시한 앨범</p>
              </li>
            </th:block>
          </ul>
        </div>
      </a>
      <!-- 좋아요 한 트랙 -->
      <a class="grid-item" th:href="@{/users/{id}/liked-music(id = ${user.id})}">
        <div class="mypage-card track">
          <h3>좋아요 표시한 트랙</h3>
          <ul>
            <th:block th:if="${trackList == null or trackList.isEmpty()}">
              <div class="empty-text">
                <p>좋아요 표시한 트랙 없습니다.</p>
              </div>
            </th:block>
            <th:block th:each="track : ${trackList}">
              <li>
                <img width="50px" height="50px" th:src="${track.coverImage}" alt="커버이미지">
                <p th:text="${track.title}">좋아요 표시한 트랙</p>
              </li>
            </th:block>
          </ul>
        </div>
      </a>
      <!-- 팔로우 한 아티스트 -->
      <a class="grid-item" th:href="@{/users/{id}/follow-artist(id = ${user.id})}">
        <div class="mypage-card artist">
          <h3>팔로우 아티스트</h3>
          <ul>
            <th:block th:if="${artistList == null or artistList.isEmpty()}">
              <div class="empty-text">
                <p>팔로우 한 아티스트가 없습니다.</p>
              </div>
            </th:block>
            <th:block th:each="artist : ${artistList}">
              <li>
                <img width="50px" height="50px" th:src="${artist.profileImage}" alt="커버이미지">
                <p th:text="${artist.name}">팔로우 한 아티스트</p>
              </li>
            </th:block>
          </ul>
        </div>
      </a>
      <!-- 내 활동 -->
      <th:block th:if="${isOwner}">
      <a class="grid-item" href="/users/activity">
        <div class="mypage-card activate">
          <h3>내 활동</h3>
          <ul>
            <li>
              <span>게시글</span>
              <p>10</p>
            </li>
            <li>
              <span>댓글</span>
              <p>25</p>
            </li>
            <li>
              <span>리뷰</span>
              <p>5</p>
            </li>
          </ul>
        </div>
      </a>
      </th:block>
      <!-- 배지 -->
      <th:block th:if="${isOwner}">
      <a class="grid-item" th:href="@{/users/badge}">
        <div class="mypage-card badge-area">
          <h3>배지</h3>
          <h4>최근 획득한 배지</h4>
          <ul>
            <th:block th:if="${badgeList == null or badgeList.isEmpty()}">
              <div class="empty-text">
                <p>최근 획득한 배지가 없습니다.</p>
              </div>
            </th:block>
            <th:block th:each="badge : ${badgeList}">
              <li>
                <span class="badge" th:text="${badge.name}">배지 이름</span>
              </li>
              <li>
                <span class="badge" th:text="${badge.name}">배지 이름</span>
              </li>
              <li>
                <span class="badge" th:text="${badge.name}">배지 이름</span>
              </li>
              <li>
                <span class="badge" th:text="${badge.name}">배지 이름</span>
              </li>
            </th:block>
          </ul>
        </div>
      </a>
      </th:block>
      <!-- 알림 설정 -->
      <th:block th:if="${isOwner}">
      <a class="grid-item" href="">
        <div class="mypage-card alarm">
          <h3>알림 설정</h3>
          <ul>
            <li></li>
          </ul>
        </div>
      </a>
      </th:block>
      <!-- 계정 / 보안 -->
      <th:block th:if="${isOwner}">
      <a class="grid-item" th:href="@{/users/security}">
        <div class="mypage-card security">
          <h3>계정 / 보안</h3>
          <ul>
            <li>이메일: <th:block th:text="${user.email}"></th:block></li>
            <li class="impor"><span>비밀번호 변경</span>&nbsp;/&nbsp;<span>탈퇴</span></li>
          </ul>
        </div>
      </a>
      </th:block>
    </section>
  </main>
  <th:block layout:fragment="pageScript" >
    <script th:inline="javascript">
      document.addEventListener('DOMContentLoaded', function() {
        const ctx = document.getElementById('doughnut').getContext('2d');
        const myChart = new Chart(ctx, {
          type: 'doughnut',
          data: {
              labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
              datasets: [{
                  label: '  ',
                  data: [10, 20, 30, 10, 20, 10],
                  backgroundColor: [
                    '#82B8FF',
                    '#FF9F82',
                    '#82FFB8',
                    '#FF82D1',
                    '#FFD682',
                    '#8C82FF'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
            layout: {
              padding: {
                right: -10
              }
            },
            responsive: false,
            maintainAspectRatio: false,
            plugins: {
              legend: {
                labels: {
                  boxWidth: 15,
                  boxHeight: 15,
                },
                position: 'right'
              },
              title: {
                display: true,
                text: '장르 선호 차트',
                color: '#D4B97F',
                padding: {
                  bottom: 15,
                  right: 30
                },
                font: {
                  size: 18
                }
              }
            }
          }
        });
      })
      const logoutBtn = document.getElementById('btn-logout')
      if(logoutBtn) {
        logoutBtn.addEventListener('click', (e) => {
          e.preventDefault();
          const check = confirm("로그아웃 하시겠습니까?")
          if(!check) return
          document.getElementById('form-logout').submit()
        })
      }

      const followBtn = document.getElementById('btn-follow')
      if(followBtn) {
        followBtn.addEventListener('click', e => {
          follow(e)
        })
      }

      /* 팔로우 / 언팔로우 */
      async function follow(event) {

        let method = ''
        const currentStyle = event.target.classList.contains('already')
        let userId = [[${user.id}]]
        let url = `/user-follows/${userId}`
        if(currentStyle) method = 'DELETE'
        else method = 'POST'
        try {
            /* Security 제공 CSRF */
            const token = document.querySelector('meta[name="_csrf"]').getAttribute('content')
            const header = document.querySelector('meta[name="_csrf_header"]').getAttribute('content')
            const response = await fetch(url, {
                method: method,
                headers: {
                    [header] : token,
                    "Content-Type": "application/json"
                },
            })

          if (!response.ok) {
              const result = await response.text()
              Swal.fire({
                position: "center",
                icon: "warning",
                title: result,
                showConfirmButton: false,
                timer: 1500,
                customClass: {
                  popup: 'follow-popup',
                  icon: 'success-icon',
                  title: 'alert-title'
                }
              });
              if(result === '로그인이 필요한 서비스입니다.') {
                sessionStorage.setItem('returnTo', location.href)
                setTimeout(() => {
                  location.href = '/login'
                }, 1600)
              }
              return
          }
          // 성공시
          const text = await response.text()
          Swal.fire({
            position: "center",
            icon: "success",
            title: text,
            showConfirmButton: false,
            timer: 1500,
            customClass: {
              popup: 'follow-popup',
              icon: 'success-icon',
              title: 'alert-title'
            }
          });
          followBtn.classList.toggle('already')
          if(event.target.classList.contains('already')) {
            followBtn.textContent = '언팔로우'
            document.getElementById('follower-count').innerText = (Number)(document.getElementById('follower-count').innerText) + 1
          } else {
            followBtn.textContent = '팔로우'
            document.getElementById('follower-count').innerText = (Number)(document.getElementById('follower-count').innerText) - 1
          }
        } catch (error) {
            console.log("서버 에러.")
          }
      }
    </script>
  </th:block>
</body>
</html>
