<!DOCTYPE html>
<html
    lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layouts/main_layout}"
>
<head>
  <meta charset="UTF-8">
  <title>마이페이지</title>
  <th:block th:replace="~{fragments/link::user}"></th:block>
</head>
<body>
  <main class="con con-mypage" layout:fragment="content">
    <section class="profile-section">
      <img th:src="${user.profileImage}" alt="프로필 이미지" class="profile-img">
      <div class="profile-info">
        <h2>
          <th:block th:text="${user.nickname}"></th:block>
          <span class="badge">JAZZ LOVER</span>
        </h2>
        <p id="bio" th:text="${user.bio}">음악과 우주, 그리고 커뮤니티를 사랑하는 평론가입니다.</p>
        <div class="profile-actions">
          <a th:href="@{/users/edit}" class="mybtn-gold">프로필 편집</a>
          <form th:action="@{/logout}" method="post">
            <button class="mybtn-outline d-flex justify-content-center" type="submit">로그아웃</button>
          </form>
        </div>
      </div>
      <div class="profile-meta">
        <div><a th:href="@{/user-follows}"><b>팔로워</b><br><th:block th:text="${followerCount}">수</th:block></a></div>
        <div><a th:href="@{/user-follows}"><b>팔로우</b><br><th:block th:text="${followCount}">수</th:block></a></div>
        <div><a><b>뱃지</b><br>3</a></div>
      </div>
    </section>
    <div class="my-middle">
      <!-- 플레이리스트 -->
      <a th:href="@{/playlists}">
        <div class="mypage-card playlist">
          <h3>내 플레이리스트</h3>
          <th:block th:if="${#lists.isEmpty(playlists)}">
            <div class="empty-text">
              <p>플레이리스트가 없습니다.</p>
              <p>만들러 가기 ➡️</p>
            </div>
          </th:block>
          <ul>
            <th:block th:each="pl : ${playlists}">
              <li>
                <div>
                  <img class="cover-img" width="50px" height="50px" th:src="${pl.thumbnailUrl}" alt="커버이미지">
                  <th:block th:text="${pl.title}">플레이리스트 이름</th:block>
                </div>
                <div class="like-count">
                  <span th:text="${pl.likeCount}">123</span>
                  <span class="like">♥</span>
                </div>
              </li>
            </th:block>
          </ul>
        </div>
      </a>
      <div class="chart-area">
        <canvas id="doughnut" height="200"></canvas>
      </div>
    </div>
    <section class="mypage-grid">
      <!-- 좋아요 한 앨범 -->
      <a th:href="@{/liked-albums}">
        <div class="mypage-card album">
          <h3>좋아요 표시한 앨범<p>></p></h3>
          <ul>
            <li>
              <img width="50px" height="50px" src="https://i.scdn.co/image/ab67616d0000b27340735818c3f8f04ba30e47c2" alt="커버이미지">
              <p>좋아요 표시한 앨범</p>
            </li>
            <li>
              <img width="50px" height="50px" src="https://i.scdn.co/image/ab67616d0000b273df1580ff05c0fb1b0cd23e1a">
              <p>좋아요 표시한 앨범</p>
            </li>
            <li>
              <img width="50px" height="50px" src="https://i.scdn.co/image/ab67616d0000b27373f85e8b4338d2aa07f59f3a">
              <p>좋아요 표시한 앨범</p>
            </li>
          </ul>
        </div>
      </a>
      <!-- 좋아요 한 트랙 -->
      <a th:href="@{/liked-albums}">
        <div class="mypage-card track">
          <h3>좋아요 표시한 트랙<p>></p></h3>
          <ul>
            <li>
              <img width="50px" height="50px" src="https://i.scdn.co/image/ab67616d0000b27340735818c3f8f04ba30e47c2" alt="커버이미지">
              <p>좋아요 표시한 트랙</p>
            </li>
            <li>
              <img width="50px" height="50px" src="https://i.scdn.co/image/ab67616d0000b273df1580ff05c0fb1b0cd23e1a">
              <p>좋아요 표시한 트랙</p>
            </li>
            <li>
              <img width="50px" height="50px" src="https://i.scdn.co/image/ab67616d0000b27373f85e8b4338d2aa07f59f3a">
              <p>좋아요 표시한 트랙</p>
            </li>
          </ul>
        </div>
      </a>
      <!-- 팔로우 한 아티스트 -->
      <a href="/artist-follows">
        <div class="mypage-card artist">
          <h3>팔로우 아티스트<p>></p></h3>
          <ul>
            <li>
              <img width="50px" height="50px" src="https://i.scdn.co/image/ab6761610000e5eb667b1c37aac06716daa5fe92" alt="커버이미지">
              <p>팔로우 한 아티스트</p>
            </li>
            <li>
              <img width="50px" height="50px" src="https://i.scdn.co/image/ab6761610000e5eb538dad5b42d963e338726c26">
              <p>팔로우 한 아티스트</p>
            </li>
            <li>
              <img width="50px" height="50px" src="https://i.scdn.co/image/ab6761610000e5ebd642648235ebf3460d2d1f6a">
              <p>팔로우 한 아티스트</p>
            </li>
          </ul>
        </div>
      </a>
      <!-- 내 활동 -->
      <th:block th:if="${isOwner}">
      <a href="#">
        <div class="mypage-card activate">
          <h3>내 활동</h3>
          <ul>
            <li>
              <span>게시글</span>
              <p>10</p>
            </li>
            <li>
              <span>댓글</span>
              <p>25</p>
            </li>
            <li>
              <span>리뷰</span>
              <p>5</p>
            </li>
          </ul>
        </div>
      </a>
      </th:block>
      <!-- 배지 -->
      <th:block th:if="${isOwner}">
      <a th:href="@{/users/badge}">
        <div class="mypage-card badge-area">
          <h3>배지<p>></p></h3>
          <ul>
            <li>최근 획득한 배지</li>
            <li>
              <th:block th:each="i : ${#numbers.sequence(1, 10)}">
                <span class="badge" th:text="${i}"></span>
              </th:block>
            </li>
          </ul>
        </div>
      </a>
      </th:block>
      <!-- 알림 설정 -->
      <th:block th:if="${isOwner}">
      <a href="">
        <div class="mypage-card alarm">
          <h3>알림 설정<p>></p></h3>
          <ul>
            <li></li>
          </ul>
        </div>
      </a>
      </th:block>
      <!-- 계정 / 보안 -->
      <th:block th:if="${isOwner}">
      <a href="">
        <div class="mypage-card security">
          <h3>계정 / 보안<p>></p></h3>
          <ul>
            <li>이메일: <th:block th:text="${user.email}"></th:block></li>
            <li class="impor"><span>비밀번호 변경</span>&nbsp;/&nbsp;<span>탈퇴</span></li>
          </ul>
        </div>
      </a>
      </th:block>
    </section>
  </main>
  <th:block layout:fragment="pageScript">
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const ctx = document.getElementById('doughnut').getContext('2d');
        const myChart = new Chart(ctx, {
          type: 'doughnut',
          data: {
              labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
              datasets: [{
                  label: '  ',
                  data: [10, 20, 30, 10, 20, 10],
                  backgroundColor: [
                    '#82B8FF',
                    '#FF9F82',
                    '#82FFB8',
                    '#FF82D1',
                    '#FFD682',
                    '#8C82FF'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
            layout: {
              padding: {
                right: -10
              }
            },
            responsive: false,
            maintainAspectRatio: false,
            plugins: {
              legend: {
                labels: {
                  boxWidth: 15,
                  boxHeight: 15,
                },
                position: 'right'
              },
              title: {
                display: true,
                text: '장르 선호 차트',
                color: '#D4B97F',
                padding: {
                  bottom: 15,
                  right: 30
                },
                font: {
                  size: 18
                }
              }
            }
          }
        });
      })
    </script>
  </th:block>
</body>
</html>
