<!DOCTYPE html>
<html
    lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layouts/main_layout}"
>
<head>
  <meta charset="UTF-8" />
  <title>알림</title>
  <th:block th:replace="~{fragments/link::user}"></th:block>
</head>
<body>
  <main class="con con-noti position-relative" layout:fragment="content">
    <!-- 왼쪽 리모컨 -->
    <th:block th:replace="~{fragments/left_rc::mypage-tabs}"></th:block>
    <!-- 알림 리스트 -->
    <section class="info-wrapper">
      <div class="info-section">
        <div class="title">
          <div>
            <h2 class="text-start">미확인 알림</h2>
            <span class="count" th:text="${count}">읽지 않은 알림 수</span>
          </div>
          <div>
            <button onclick="readAll()">전체 읽음</button>
            <button onclick="deleteAll()">전체 삭제</button>
          </div>
        </div>
        <ul class="ul-list">
          <th:block th:if="${notiList == null || notiList.isEmpty()}">
            <div class="empty-text">
              <p>알림이 없습니다.</p>
            </div>
          </th:block>
          <th:block th:each="noti : ${notiList}">
            <li class="list-item" th:data-noti-id="${noti.id}">
              <input class="is-read" th:id="'is-read' + ${noti.id}" type="checkbox" th:checked="${noti.isRead}">
              <span class="red-circle">●</span>
              <p th:text="${noti.message}">알림 내용</p>
              <p class="date">2025.06.12 13:11:00</p>
            </li>
          </th:block>
        </ul>
      </div>
    </section>
  </main>
  <th:block layout:fragment="pageScript">
    <script>
      const token = document.querySelector('meta[name="_csrf"]').getAttribute('content');
      const header = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');
      const count = document.querySelector('.count')
      // 단일 읽기 처리
      const items = document.querySelectorAll('.list-item')
      items.forEach(item => {
        item.addEventListener('click', (e) => {
          item.querySelector('input[type="checkbox"]').checked = true
          checkAndRead(item.dataset.notiId)
        })
      })

      async function checkAndRead(id) {

        let url = '/notifications'
        const data = {
          id : id
        }

        try {
          const response = await fetch(url, {
            method : 'PUT',
            headers : {
              [header] : token,
              "Content-Type": "application/json"
            },
            body : JSON.stringify(data)
          })

          if(!response.ok) {
            const result = await response.text()
            console.log(result)
            return
          }
          const result = await response.text()
          count.textContent = result
          console.log("읽음 처리 완료.")
        } catch(error) {
          console.log(error)
        }
      }

      // 전체 읽기 처리
      const checks = document.querySelectorAll('.is-read')
      async function readAll() {
        const ids = Array.from(document.querySelectorAll('li'))
        .filter(li => {
          const checkbox = li.querySelector('input[type="checkbox"]');
          return checkbox && !checkbox.checked
        })
        .map(li => li.dataset.notiId)

        checks.forEach((e) => {
          e.checked = true
        })

        let url = '/notifications/all'

        try {
          const response = await fetch(url, {
            method : 'PUT',
            headers : {
              [header] : token,
              "Content-Type": "application/json"
            },
            body : JSON.stringify(ids)
          })

          if(!response.ok) {
            const result = await response.text()
            console.log(result)
            return
          }
          const result = await response.text()
          count.textContent = result
          console.log("전체 읽음 처리 완료.")
        } catch(error) {
          console.log(error)
        }
      }

      function deleteAll() {
        Swal.fire({
          title: "정말 삭제하시겠습니까?",
          html: '<p class="alert-text">읽음 처리된 알림 전체가 삭제됩니다.</p>',
          icon: "warning",
          showCancelButton: true,
          confirmButtonText: "삭제",
          cancelButtonText: "취소",
          reverseButtons: false,
          customClass: {
          popup: 'follow-popup',
          icon: 'warning-icon',
          title: 'alert-title',
          text: 'alert-text',
          confirmButton: 'alert-button',
          cancelButton: 'alert-cancle-button'
        }
        }).then((result) => {
          if (result.isConfirmed) {
            deleteAllAjax();
          }
          return
        })
      }

      // 전체 삭제 처리
      async function deleteAllAjax() {

        const ids = Array.from(document.querySelectorAll('li'))
        .filter(li => {
          const checkbox = li.querySelector('input[type="checkbox"]');
          return checkbox && checkbox.checked
        })
        .map(li => li.dataset.notiId)

        const lis = Array.from(document.querySelectorAll('li'))
        .filter(li => {
          const checkbox = li.querySelector('input[type="checkbox"]');
          return checkbox && checkbox.checked
        })

        lis.forEach(li => li.remove())

        console.log(ids)

        let url = '/notifications/all'

        try {
          const response = await fetch(url, {
            method : 'DELETE',
            headers : {
              [header] : token,
              "Content-Type": "application/json"
            },
            body : JSON.stringify(ids)
          })

          if(!response.ok) {
            const result = await response.text()
            console.log(result)
            return
          }
          const result = await response.text()
          count.textContent = result
          console.log("전체 삭제 처리 완료.")
        } catch(error) {
          console.log(error)
        }
      }
    </script>
    <script th:src="@{/js/remotecontroller.js}"></script>
  </th:block>
</body>
</html>