<!DOCTYPE html>
<html
    lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layouts/main_layout}"
>
<head>
  <meta charset="UTF-8" />
  <meta name="_csrf" th:content="${_csrf.token}" />
  <meta name="_csrf_header" th:content="${_csrf.headerName}" />
  <title>플레이리스트</title>
  <th:block th:replace="~{fragments/link::user}"></th:block>
</head>
<body>
  <main class="con con-music position-relative" layout:fragment="content">
    <!-- 왼쪽 리모컨 -->
    <th:block th:if="${isOwner}">
      <th:block th:replace="~{fragments/left_rc::mypage-tabs}"></th:block>
    </th:block>
    <!-- 플레이리스트 -->
    <section class="info-wrapper" th:classappend="${ !isOwner ? 'go-center' : ''}">
      <div class="info-section">
        <div class="title">
          <div>
            <h2 class="text-start" th:text="${isOwner ? '내 플레이리스트' : '플레이리스트'}">내 플레이리스트</h2>
            <span class="count" th:text="${myPlaylists.size()}">플레이리스트 수</span>
          </div>
          <th:block th:if="${isOwner}">
            <a th:href="@{/playlists/create}" id="addPli">추가하기<img width="20px" height="20px" th:src="@{/img/plus_circle.png}" alt="추가버튼"></a>
          </th:block>
        </div>
        <th:block th:if="${#lists.isEmpty(myPlaylists)}">
          <div class="empty-text">
            <p>플레이리스트가 없습니다.</p>
          </div>
        </th:block>
        <ul id="myPlaylist" class="ul-list">
          <th:block th:each="mpl : ${myPlaylists}">
            <th:block th:if="${mpl.isPublic or isOwner}">
              <li class="list-item">
                <input type="hidden" th:value="${mpl.id}" name="id">
                <img th:src="@{${mpl.thumbnailUrl}}" alt="GalaxiNote" class="follow-img" />
                <div class="info">
                  <span class="name-playlist" th:text="${mpl.title}">플레이리스트 명</span>
                </div>
                <th:block th:if="${isOwner}">
                  <span class="is-public" th:text="${mpl.isPublic} ? '공개' : '비공개' ">공개</span>
                </th:block>
                <div class="right">
                  <div class="like-area">
                    <span class="count" th:text="${mpl.likeCount}">123</span>
                    <span class="like">♥</span>
                  </div>
                  <th:block th:if="${isOwner}">
                    <button class="btn btn-danger">
                      삭제
                    </button>
                  </th:block>
                </div>
              </li>
            </th:block>
          </th:block>
        </ul>
      </div>
    </section>
    <!-- 좋아요 한 플레이 리스트 -->
    <section class="info-wrapper" th:classappend="${ !isOwner ? 'go-center' : ''}">
      <div class="info-section">
        <div class="title">
          <div>
            <h2 class="text-start">좋아요 한 플레이리스트</h2>
            <span class="count" th:text="${likedPlaylists.size()}">좋아요 한 플레이리스트 수</span>
          </div>
        </div>
        <th:block th:if="${#lists.isEmpty(likedPlaylists)}">
          <div class="empty-text">
            <p>좋아요 한 플레이리스트가 없습니다.</p>
          </div>
        </th:block>
        <ul class="ul-list">
          <th:block th:each="lpl : ${likedPlaylists}">
            <li class="list-item">
              <input type="hidden" th:value="${lpl.id}" name="id">
              <img th:src="${lpl.thumbnailUrl}" class="follow-img" />
              <div class="info">
                <span class="name-album" th:text="${lpl.title}">좋아요 한 플레이리스트 명</span>
              </div>
              <th:block th:if="${isOwner}">
                <button class="like">♥</button>
              </th:block>
            </li>
          </th:block>
        </ul>
      </div>
    </section>
  </main>
  <th:block layout:fragment="pageScript">
    <script>

      const likeButton = document.querySelectorAll("button.like");
      likeButton.forEach(button => {
        button.addEventListener('click', (e) => {
          alert(e.target.closest('li').querySelector('input[type="hidden"]').value + "번 플리 좋아요 취소")
        })
      })

      /* 플레이리스트 상세 가기 */
      const items = document.querySelectorAll('.list-item')
      items.forEach(e => {
        e.addEventListener('click', (event) => {
          if (event.target.tagName.toLowerCase() === 'button') return
          const id = e.querySelector('input[type="hidden"]').value
          location.href = `/playlists/${id}`
        })
      })

      /* 비동기 삭제 요청 */
      async function deletePlaylist(event) {

        const id = event.target.closest('.list-item').querySelector('input[type="hidden"]').value
        const pathSegments = window.location.pathname.split('/')
        const playlistId = pathSegments[pathSegments.length - 1]
        let url = `/playlists/${id}`

        try {
          /* Security 제공 CSRF */
          const token = document.querySelector('meta[name="_csrf"]').getAttribute('content')
          const header = document.querySelector('meta[name="_csrf_header"]').getAttribute('content')
          const response = await fetch(url, {
              method: "DELETE",
              headers: {
                  [header] : token,
              },
          })
          if (!response.ok) {
            const result = await response.text()
            Swal.fire({
            position: "center",
            icon: "warning",
            title:  "삭제 실패하였습니다.",
            showConfirmButton: false,
            timer: 1500,
            customClass: {
              popup: 'follow-popup',
              icon: 'success-icon',
              title: 'alert-title'
              }
            })
            return
          }
          // 성공시
          const result = await response.json()
          Swal.fire({
            position: "center",
            icon: "success",
            title:  "삭제되었습니다.",
            showConfirmButton: false,
            timer: 1500,
            customClass: {
              popup: 'follow-popup',
              icon: 'success-icon',
              title: 'alert-title'
              }
          });
          renderMyPlaylists(result)
          document.querySelectorAll('.count')[0].textContent = result.length
        } catch (error) {
            console.error("요청 실패:", error)
          }
      }

      function renderMyPlaylists(list) {
        const ulList = document.getElementById('myPlaylist')
        ulList.innerHTML = ''

        list.forEach(list => {
          const li = document.createElement('li')
          li.classList.add('list-item')

          li.innerHTML = `
            <input type="hidden" value="${list.id}" name="id">
            <img src="${list.thumbnailUrl}" class="follow-img">
            <div class="info">
              <span class="name-playlist">${list.title}</span>
            </div>
            <span class="is-public">${list.isPublic ? '공개' : '비공개'}</span>
            <div class="right">
              <div class="like-area">
                <span class="count">${list.likeCount}</span>
                <span class="like">♥</span>
              </div>
              <button class="btn btn-danger">삭제</button>
            </div>
          `
          ulList.appendChild(li)
        })
      }

      /* 삭제 버튼 클릭 */
      document.getElementById("myPlaylist").addEventListener("click", function (e) {

        if (e.target && e.target.matches(".btn-danger")) {
          Swal.fire({
            title: "정말 삭제하시겠습니까?",
            html: '<p class="alert-text">삭제한 플레이리스트는 복구가 불가능합니다.</p>',
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "삭제",
            cancelButtonText: "취소",
            reverseButtons: false,
            customClass: {
            popup: 'follow-popup',
            icon: 'warning-icon',
            title: 'alert-title',
            text: 'alert-text',
            confirmButton: 'alert-button',
            cancelButton: 'alert-cancle-button'
          }
          }).then((result) => {
            if (result.isConfirmed) {
              deletePlaylist(e);
            }
          });
          }
        });
    </script>
  </th:block>
</body>
</html>