<!DOCTYPE html>
<html
    lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layouts/main_layout}"
>
<head>
  <meta charset="UTF-8" />
  <title>플레이리스트</title>
  <th:block th:replace="~{fragments/link::user}"></th:block>
</head>
<body>
  <main class="con con-music position-relative" layout:fragment="content">
    <!-- 왼쪽 리모컨 -->
    <th:block th:replace="~{fragments/left_rc::mypage-tabs}"></th:block>
    <!-- 내 플레이리스트 -->
    <section class="info-wrapper">
      <div class="info-section">
        <div class="title">
          <div>
            <h2 class="text-start">내 플레이리스트</h2>
            <span class="count" th:text="${myPlaylists.size()}">내 플레이리스트 수</span>
          </div>
          <a th:href="@{/playlists/create}" id="addPli">추가하기<img width="20px" height="20px" th:src="@{/img/plus_circle.png}" alt="추가버튼"></a>
        </div>
        <th:block th:if="${#lists.isEmpty(myPlaylists)}">
          <div class="empty-text">
            <p>내 플레이리스트가 없습니다.</p>
          </div>
        </th:block>
        <ul class="ul-list">
          <th:block th:each="mpl : ${myPlaylists}">
            <li class="list-item">
              <input type="hidden" th:value="${mpl.id}" name="id">
              <img src="https://i.scdn.co/image/ab67616d0000b2738ad8f5243d6534e03b656c8b" alt="GalaxiNote" class="follow-img" />
              <div class="info">
                <span class="name-playlist" th:text="${mpl.title}">플레이리스트 명</span>
              </div>
              <span class="is-public" th:text="${mpl.isPublic} ? '공개' : '비공개' ">공개</span>
              <div class="right">
                <div class="like-area">
                  <span class="count" th:text="${mpl.likeCount}">123</span>
                  <span class="like">♥</span>
                </div>
                <button onclick="deletePli(event)" class="btn btn-danger">
                  삭제
                </button>
              </div>
            </li>
          </th:block>
        </ul>
      </div>
    </section>
    <!-- 좋아요 한 플레이 리스트 -->
    <section class="info-wrapper">
      <div class="info-section">
        <div class="title">
          <div>
            <h2 class="text-start">좋아요 한 플레이리스트</h2>
            <span class="count" th:text="${likedPlaylists.size()}">좋아요 한 플레이리스트 수</span>
          </div>
        </div>
        <th:block th:if="${#lists.isEmpty(likedPlaylists)}">
          <div class="empty-text">
            <p>좋아요 한 플레이리스트가 없습니다.</p>
          </div>
        </th:block>
        <ul class="ul-list">
          <th:block th:each="lpl : ${likedPlaylists}">
            <li class="list-item">
              <input type="hidden" th:value="${lpl.id}" name="id">
              <img src="https://i.scdn.co/image/ab67616d0000b2738ad8f5243d6534e03b656c8b" alt="GalaxiNote" class="follow-img" />
              <div class="info">
                <span class="name-album" th:text="${lpl.title}">좋아요 한 플레이리스트 명</span>
              </div>
              <button class="like">♥</button>
            </li>
          </th:block>
        </ul>
      </div>
    </section>
  </main>
  <th:block layout:fragment="pageScript">
    <script>

      function deletePli(e) {
        const check = confirm("삭제하시겠습니까?")
        if(check) {
          alert(e.target.closest('li').querySelector('input[type="hidden"]').value + "번 플리 삭제")
        }
      }

      const likeButton = document.querySelectorAll("button.like");
      likeButton.forEach(button => {
        button.addEventListener('click', (e) => {
          alert(e.target.closest('li').querySelector('input[type="hidden"]').value + "번 플리 좋아요 취소")
        })
      })

      const items = document.querySelectorAll('.list-item')
      items.forEach(e => {
        e.addEventListener('click', (event) => {
          if (event.target.tagName.toLowerCase() === 'button') return
          const id = e.querySelector('input[type="hidden"]').value
          location.href = `playlists/${id}`
        })
      })

    </script>
  </th:block>
</body>
</html>