<!DOCTYPE html>
<html
    lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layouts/main_layout}"
>
<head>
  <meta charset="UTF-8" />
  <meta name="_csrf" th:content="${_csrf.token}" />
  <title>계정 / 보안</title>
  <th:block th:replace="~{fragments/link::user}"></th:block>
</head>
<body>
  <main class="con con-security position-relative" layout:fragment="content">
    <!-- 왼쪽 리모컨 -->
    <th:block th:replace="~{fragments/left_rc::mypage-tabs}"></th:block>
    <!-- 계정 / 보안 -->
    <section class="info-wrapper">
      <div class="info-section">
        <div class="title">
          <div>
            <h2 class="text-start">계정 / 보안</h2>
          </div>
          <th:block th:if="${vali or user.provider != null}">
            <button type="hidden" id="btn-withdrawal">회원탈퇴</button>
          </th:block>
        </div>
        <div class="inner">
          <p class="text-start mb-5">연동된 SNS : <th:block th:text="${user.provider}"></th:block></p>
          <th:block th:if="${!vali && user.provider == null}">
            <form th:action="@{/users/check-password}" method="post">
              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
              <div class="input-area">
                <label class="profile-edit-label" for="password">비밀번호</label>
                <input name="password" id="password" type="password" class="form-control" placeholder="비밀번호를 입력해주세요.">
                <p class="fail-vali hide text-start">잘못된 비밀번호입니다.</p>
              </div>
              <div class="btn-area">
                <button class="btn btn-gold" type="submit">확인</button>
              </div>
            </form>
          </th:block>
          <th:block th:if="${vali}">
            <form th:action="@{/users/change-password}" method="post">
              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
              <div class="input-area">
                <label class="profile-edit-label" for="password">변경할 비밀번호</label>
                <input onkeyup="checkPw2()" type="password" class="form-control" id="password" name="password">
                <p class="fail-vali main hide text-start">특수문자, 영문자를 포함한 8글자 이상이어야 합니다.</p>
                <label class="profile-edit-label" for="password2">비밀번호 확인</label>
                <input onkeyup="checkPw2()" type="password" class="form-control" id="password2" name="password2">
                <p class="fail-vali sub hide text-start">비밀번호가 일치하지 않습니다.</p>
              </div>
              <div class="btn-area">
                <button class="btn btn-gold" type="submit">비밀번호 변경</button>
              </div>
            </form>
          </th:block>
        </div>
      </div>
    </section>
  </main>
  <th:block layout:fragment="pageScript">
    <script th:src="@{/js/remotecontroller.js}"></script>
    <script>
      const params = new URLSearchParams(location.search);

      const diff = params.get('diff')
      if(diff != null)
        document.querySelector('.fail-vali.sub').classList.remove('hide')

      const success = params.get('fail')
      if(success != null)
        document.querySelector('.fail-vali').classList.remove('hide')

      const error = params.get('error')
      if(error != null)
        document.querySelector('.fail-vali.main').classList.remove('hide')

      const complete = params.get('complete')
      if(complete != null) {
        Swal.fire({
          position: "center",
          icon: "success",
          title: "비밀번호가 변경되었습니다, \n 로그인페이지로 이동합니다.",
          showConfirmButton: false,
          timer: 1500,
          customClass: {
            popup: 'follow-popup',
            icon: 'success-icon',
            title: 'alert-title'
          }
        });
        setTimeout(() => {
          const form = document.createElement('form');
          form.method = 'POST';
          form.action = '/logout';

          const csrfToken = document.querySelector('meta[name="_csrf"]').content;
          const csrfInput = document.createElement('input');
          csrfInput.type = 'hidden';
          csrfInput.name = '_csrf';  // 서버에 맞게 변경
          csrfInput.value = csrfToken;
          form.appendChild(csrfInput);

          document.body.appendChild(form);
          form.submit();
        }, 1600)
      }

      document.getElementById('btn-withdrawal').addEventListener('click', () => {
        Swal.fire({
          title: "정말 탈퇴하시겠습니까?",
          html: '<p class="alert-text">회원탈퇴한 계정 정보는 복구가 어렵습니다.</p>',
          icon: "warning",
          showCancelButton: true,
          confirmButtonText: "예",
          cancelButtonText: "아니오",
          reverseButtons: false,
          customClass: {
          popup: 'follow-popup',
          icon: 'warning-icon',
          title: 'alert-title',
          text: 'alert-text',
          confirmButton: 'alert-button',
          cancelButton: 'alert-cancle-button'
          }
        }).then((result) => {
          if (result.isConfirmed) {
            withdrawal()
          }
        })
      })

      async function withdrawal() {

        let url = '/users'

        try {
          const token = document.querySelector('meta[name="_csrf"]').getAttribute('content')
          const header = document.querySelector('meta[name="_csrf_header"]').getAttribute('content')
          const response = await fetch(url, {
              method: "DELETE",
              headers: {
                  [header] : token,
                  "Content-Type": "application/json"
              },
          })

          if(!response) {
            const result = await response.text()
            console.log(result)
            return
          }
          const result = await response.text()
          Swal.fire({
            position: "center",
            icon: "success",
            title: result,
            showConfirmButton: false,
            timer: 800,
            customClass: {
              popup: 'follow-popup',
              icon: 'success-icon',
              title: 'alert-title'
            }
          })
          setTimeout(() => {
            const form = document.createElement('form');
            form.method = 'POST';
            form.action = '/logout';

            const csrfToken = document.querySelector('meta[name="_csrf"]').content;
            const csrfInput = document.createElement('input');
            csrfInput.type = 'hidden';
            csrfInput.name = '_csrf';  // 서버에 맞게 변경
            csrfInput.value = csrfToken;
            form.appendChild(csrfInput);

            document.body.appendChild(form);
            form.submit();
          }, 1600)
        } catch(e) {
          console.error(e)
        }
      }

      function checkPw2() {
        let input = document.getElementById('password2')
        let pw2 = document.querySelector('.fail-vali.sub')
        if(input.value === document.getElementById('password').value) {
          pw2.classList.add('success')
          pw2.classList.remove('hide')
          pw2.textContent = '비밀번호가 일치합니다.'
        } else {
          pw2.classList.remove('success')
          pw2.classList.remove('hide')
          pw2.textContent = '비밀번호가 일치하지 않습니다.'
        }
      }
    </script>
  </th:block>
</body>
</html>