<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layouts/main_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'회원 검색 결과 : ' + ${keyword}"></title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <th:block th:replace="~{fragments/link::main}"></th:block>
</head>
<body>
    <th:block layout:fragment="content">
        <div class="container-fluid d-flex flex-column align-items-center px-0" style="max-width:1440px; height:2800px; padding-top:150px; gap:50px;">
            <!-- 검색 결과 : "OOO" -->
            <div class="d-flex flex-row mb-5 w-100" style="max-width:1440px; margin:10px auto; gap:10px;">
                <h1 style="color: white; margin-left: 3rem;">검색 결과 : "<span th:text="${keyword}">검색어</span>"</h1>
            </div>
    
            <!-- 회원 -->
            <section class="main-section-bg w-100 py-4 mb-5">
                <div class="d-flex flex-row align-items-center px-4 mb-3" style="height:50px;">
                    <div class="section-title flex-grow-1">회원</div>
                </div>
                <div class="album-grid row row-cols-1 row-cols-sm-2 row-cols-md-6 g-0 m-0 mb-5 justify-content-start">
                    <th:block th:each="user : ${allUserSearchList}">
                        <!-- 회원 카드 -->
                        <div class="col d-flex">
                            <div class="card align-items-center p-3 mb-5" style="width:228px; height:230px;">
                                <a th:href="@{'/users/' + ${user.id}}">
                                    <img th:src="${user.profileImage}" class="card-img-top rounded-circle" alt="회원 이미지">
                                </a>
                                <div class="card-body">
                                    <a th:href="@{'/users/' + ${user.id}}" class="card-title" th:text="${user.nickname}"></a>
                                    <div class="card-artist" th:text="|${#numbers.formatDecimal(user.followerCount != null ? user.followerCount : 0, 0, 'COMMA', 0, 'POINT')} 팔로워|"></div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
                <div th:replace="~{fragments/pagination :: pagination}"></div>
            </section>
        </div>
    </th:block>
</body>
</html>