<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cosmus.resonos.mapper.RecentReviewMapper">

<select id="findRecentReviewsByArtistId" resultType="com.cosmus.resonos.domain.RecentReview">
    (
        SELECT
            tr.track_id AS id,
            t.title AS name,
            tr.content,
            tr.rating,
            tr.created_at AS createdAt,
            'TRACK' AS type
        FROM (
            SELECT *
            FROM track_review tr1
            WHERE tr1.id = (
                SELECT tr2.id
                FROM track_review tr2
                WHERE tr2.track_id = tr1.track_id
                ORDER BY tr2.created_at DESC
                LIMIT 1
            )
        ) tr
        JOIN track t ON tr.track_id = t.id
        WHERE t.artist_id = #{artistId}
    )
    UNION ALL
    (
        SELECT
            ar.album_id AS id,
            a.title AS name,
            ar.content,
            ar.rating,
            ar.created_at AS createdAt,
            'ALBUM' AS type
        FROM (
            SELECT *
            FROM album_review ar1
            WHERE ar1.id = (
                SELECT ar2.id
                FROM album_review ar2
                WHERE ar2.album_id = ar1.album_id
                ORDER BY ar2.created_at DESC
                LIMIT 1
            )
        ) ar
        JOIN album a ON ar.album_id = a.id
        WHERE a.artist_id = #{artistId}
    )
    ORDER BY createdAt DESC
    LIMIT 8
</select>

</mapper>
