<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cosmus.resonos.mapper.PlaylistDetailMapper">

  <resultMap id="PlaylistDetailResultMap" type="com.cosmus.resonos.domain.PlaylistDetail">
    <id property="id" column="id"/>
    <result property="trackId" column="track_id"/>
    <result property="playlistId" column="playlist_id"/>
    <result property="orderNo" column="order_no"/>
    <result property="field" column="Field"/>
  </resultMap>

  <select id="list" resultMap="PlaylistDetailResultMap">
    SELECT * FROM playlist_detail ORDER BY playlist_id, order_no
  </select>

  <select id="select" resultMap="PlaylistDetailResultMap">
    SELECT * FROM playlist_detail WHERE id = #{id}
  </select>

  <insert id="insert">
    INSERT INTO playlist_detail (id, track_id, playlist_id, order_no, Field)
    VALUES (#{id}, #{trackId}, #{playlistId}, #{orderNo}, #{field})
  </insert>

  <update id="update">
    UPDATE playlist_detail
    SET track_id = #{trackId},
        playlist_id = #{playlistId},
        order_no = #{orderNo},
        Field = #{field}
    WHERE id = #{id}
  </update>

  <delete id="delete">
    DELETE FROM playlist_detail WHERE id = #{id}
  </delete>

</mapper>
