<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cosmus.resonos.mapper.PlaylistDetailMapper">

  <resultMap id="PlaylistDetailResultMap" type="com.cosmus.resonos.domain.PlaylistDetail">
    <id property="id" column="id"/>
    <result property="trackId" column="track_id"/>
    <result property="playlistId" column="playlist_id"/>
    <result property="orderNo" column="order_no"/>
    <result property="field" column="Field"/>
  </resultMap>

  <select id="list" resultMap="PlaylistDetailResultMap">
    SELECT * FROM playlist_detail ORDER BY playlist_id, order_no
  </select>

  <select id="select" resultMap="PlaylistDetailResultMap">
    SELECT * FROM playlist_detail WHERE id = #{id}
  </select>

  <update id="update">
    UPDATE playlist_detail
    SET track_id = #{trackId},
        playlist_id = #{playlistId},
        order_no = #{orderNo},
        Field = #{field}
    WHERE id = #{id}
  </update>

  <delete id="delete">
    DELETE FROM playlist_detail WHERE id = #{id}
  </delete>

  <!-- 플레이리스트 트랙 추가 -->
  <insert id="insert" parameterType="map">
    INSERT INTO playlist_detail (playlist_id, track_id, order_no)
    VALUES
    <foreach collection="list" item="item" separator=",">
      (#{item.playlistId}, #{item.trackId}, #{item.orderNo})
    </foreach>
  </insert>

  <!-- MAX 값 조회 -->
  <select id="getMaxOrderNo" resultType="int">
    SELECT COALESCE(MAX(order_no), 0)
    FROM playlist_detail
    WHERE playlist_id = #{playlistId}
  </select>
</mapper>
