<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cosmus.resonos.mapper.admin.AdminLogMapper">

  <resultMap id="AdminLogResultMap" type="com.cosmus.resonos.domain.admin.AdminLog">
    <id property="id" column="id"/>
    <result property="action" column="action"/>
    <result property="targetType" column="target_type"/>
    <result property="meta" column="meta"/>
    <result property="reason" column="reason"/>
    <result property="description" column="description"/>
    <result property="ipAddress" column="ip_address"/>
    <result property="userAgent" column="user_agent"/>
    <result property="createdAt" column="created_at"/>
    <result property="actorId" column="actor_id"/>
    <result property="targetId" column="target_id"/>
  </resultMap>

  <select id="list" resultMap="AdminLogResultMap">
    SELECT * FROM admin_log ORDER BY created_at DESC
  </select>

  <select id="select" resultMap="AdminLogResultMap">
    SELECT * FROM admin_log WHERE id = #{id}
  </select>

  <insert id="insert" >
    INSERT INTO admin_log
      (action, target_type, meta, reason, description, ip_address, user_agent, created_at, actor_id, target_id)
    VALUES
      (#{action}, #{targetType}, #{meta}, #{reason}, #{description}, #{ipAddress}, #{userAgent}, #{createdAt}, #{actorId}, #{targetId})
  </insert>

  <update id="update" >
    UPDATE admin_log
    SET action = #{action},
        target_type = #{targetType},
        meta = #{meta},
        reason = #{reason},
        description = #{description},
        ip_address = #{ipAddress},
        user_agent = #{userAgent},
        created_at = #{createdAt},
        actor_id = #{actorId},
        target_id = #{targetId}
    WHERE id = #{id}
  </update>

  <delete id="delete">
    DELETE FROM admin_log WHERE id = #{id}
  </delete>

</mapper>
