<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layouts/main_layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>앨범 리뷰</title>
    <th:block th:replace="~{fragments/link::album}"></th:block>
</head>

<body layout:fragment="content">
        <div class="wrapper">
            <!-- 앨범 카드 -->
            <div class="song-card">
                <div class="song-overall">
                    <div class="song-img">
                        <img src="https://d2u3dcdbebyaiu.cloudfront.net/uploads/atch_img/38/cc5a526bf63046da3ed3123f55f5c1ca_res.jpeg" alt="">
                        <span class="center-pin"></span>
                    </div>
                </div>
                <div class="song-info">
                    <p id="headline">슬픈 트랄랄레로</p>
                    <p>발매일 : 2025.05.28 장르 : Rock 레이블 : Illinaire Records</p>
                    <div>
                        <div class="btn btn-gold">❤ 팔로우</div>
                    </div>
                </div>
            </div>
            <!-- 앨범 카드 끝 -->
            <!-- 앨범 트랙리스트 분위기 뭐뭐.. -->
            <div class="info-card">
                <div class="info">
                    <p id="headline">앨범 인기 TOP 5 트랙</p>
                    <p>1. 나는 아름다운 트랄랄레로</p>
                    <p>1. 나는 아름다운 트랄랄레로</p>
                    <p>1. 나는 아름다운 트랄랄레로</p>
                    <p>1. 나는 아름다운 트랄랄레로</p>
                    <p>1. 나는 아름다운 트랄랄레로</p>
                </div>
                <div class="info album-moods">
                    <p id="headline">앨범의 분위기</p>
                    <div class="mood-list">
                        <button class="btn btn-gold">동해물과</button>
                        <button class="btn btn-gold">백두산이 마르고</button>
                        <button class="btn btn-gold">닳도록 하느</button>
                        <button class="btn btn-gold">닳도록 하느</button>
                    </div>
                </div>
                <div class="info pl-list">
                    <p id="subtitle">이 트랙을 포함한 플리🎶</p>
                    <p>오늘 헤어진 사람들은 위한 플리  ❤352</p>
                    <p>혼자있고 싶어요,,  ❤242</p>
                    <p>😢😢😢😢😢😢😢😢😢  ❤122</p>
                    <p>페페사랑단 플레이리스트  ❤64</p>
                </div>
            </div>
            <!-- 앨범 트랙리스트 분위기 뭐뭐..끝 -->

            <!-- 평점&리뷰 -->
            <div class="review-card">
                <p id="headline">평점 & 리뷰</p>
                <div class="review-score">
                    <h1 id="headline">🔮 99</h1> <div class="score-bar"></div>
                </div>
                <div class="review-container">
                <ul class="comment-list">
                    <!-- 반복문 -->
                    <li>
                        <div class="name-and-score">
                            <p id="subtitle">페페사랑단</p>
                            <p> 🔮 100</p>
                        </div>
                        <div class="review-content">
                            <p>우리 페페 많이 사랑해주세요</p>
                        </div>
                        <div class="review-util">
                            <p>2025.05.21</p>
                            <a href="#">❤ 3</a>
                            <a href="#" id="report">신고</a>
                        </div>
                    </li>
                </ul>
                </div>
                <!-- 페이지네이션 -->
                 <div class="comment">
                    <textarea name="" id="" placeholder="리뷰를 입력해주세요"></textarea>
                    <div class="btn btn-gold">리뷰작성</div>
                 </div>
            </div>
            <!-- 평점&리뷰 끝 -->
            <!-- 분위기 -->
            <div class="mood-card">
                <div class="chart">
                    <canvas id="hexRadarChart"></canvas>
                </div>
                <div class="mood-vote">
                    <div class="vote-header">
                        <p id="headline">Mood Tag</p>
                    </div>
                    <div class="moods">
                        <!-- 분위기 반복문 -->
                        <div class="btn btn-gold">분위기1</div>
                        <div class="btn btn-gold">분위기1234</div>
                        <div class="btn btn-gold">분위기13</div>
                        <div class="btn btn-gold">분위기1</div>
                        <div class="btn btn-gold">분위기144</div>
                        <div class="btn btn-gold">분위기1</div>
                    </div>
                </div>
            </div>
            <!-- 분위기 끝 -->

            <!-- iframe -->
            <div class="iframe-card">
                <div class="spotify">
                    <!-- 스포티파이 로그인 되어있지않을때 30초 미리듣기 오디오태그 -->
                    <iframe
                        src="https://open.spotify.com/embed/track/2GMKQPMXdOGXsQkDYBN6wF?utm_source=generator"
                        frameborder="0" allowfullscreen
                        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                        loading="lazy">
                    </iframe>
                </div>
                <div class="youtube">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/3XDf5Ke2Zj8?si=VLxTrYjctMpDikdc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
            <!-- iframe 카드 끝 -->
        </div>
</body>

</html>