<th:block th:fragment="scoreFragment">
  <th:block th:if="${score == null or score.averageScore == null}">
    <h1 id="headline">첫 리뷰를 작성해보세요 🤩</h1>
  </th:block>
  <th:block th:if="${score != null and score.averageScore != null}">
    <h1 id="headline" th:text="|🔮 ${#numbers.formatDecimal(score.averageScore, 0, 0)}|"></h1>
    <div class="score-bar">
      <div class="score-fill" th:style="'width:' + ${#numbers.formatDecimal(score.averageScore, 1, 1)} + '%'">
        <span th:text="${#numbers.formatDecimal(score.averageScore, 0, 0)}"></span>
      </div>
    </div>
  </th:block>
</th:block>
<!-- templates/fragments/review-item.html -->
<th:block th:fragment="reviewItems (review)">
  <li th:each="rv : ${review}" class="comment" th:id="|rv-${rv.id}|" th:data-review-id="${rv.id}"
    th:data-track-id="${track.id}">
    <div class="name-and-score">
      <p th:text="${rv.reviewer.nickname}">닉네임</p>
      <span th:if="${rv.critic}">✅</span>
      <span> 🔮<span th:text="${rv.rating}">0</span></span>
    </div>
    <div class="review-content">
      <p class="content-text" th:text="${rv.content}">내용</p>
    </div>
    <div class="review-util">
      <time th:text="${#temporals.format(rv.createdAt,'yyyy.MM.dd')}">날짜</time>
      <button class="like-btn" th:data-review-id="${rv.id}" th:data-review-type="${reviewType}"
        th:data-liked="${rv.isLikedByCurrentUser}" th:text="${rv.isLikedByCurrentUser} ? '❤️' : '🤍'">❤️</button>
      <span th:id="'like-count-' + ${rv.id}" th:text="${rv.likes}">0</span>
      <button class="report-btn" th:data-review-id="${rv.id}" th:data-review-type="${reviewType}">🚨</button>
      <!-- 수정/삭제 버튼은 권한이 있을때만 표시 -->
      <span
        th:if="${(isAdmin != null and isAdmin) or (loginUser != null and rv != null and loginUser.id == rv.userId)}">
        <a href="#" class="edit-btn" th:data-id="${rv.id}">수정</a>
        <a href="#" class="del-btn" th:data-id="${rv.id}">삭제</a>
      </span>
    </div>
  </li>
  <!-- 숨긴 hasNext 플래그 태그 추가 -->
  <li id="has-next-flag" style="display:none;" th:data-has-next="${hasNext}"></li>
</th:block>