<!DOCTYPE html>
<html
    lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layouts/main_layout}"
>
<head>
  <meta charset="UTF-8">
  <meta name="_csrf" th:content="${_csrf.token}" />
  <meta name="_csrf_header" th:content="${_csrf.headerName}" />
  <title>회원가입</title>
  <th:block th:replace="~{fragments/link::user}"></th:block>
</head>
<body>
  <th:block layout:fragment="content">
    <div class="con con-join d-flex justify-content-center">
      <form id="form" th:action="@{/join}" method="post" class="user-form" th:object="${users}">
        <h2 class="text-light mb-4">회원가입</h2>
        <div class="input-area">
        <!-- 아이디 -->
        <label for="username" class="profile-edit-label">아이디</label>
        <input onchange="checkField(event, 'username')" th:field="*{username}" type="text" class="form-control mb-3" placeholder="영문, 숫자 포함 6글자 이상">
        <p class="fail-vali" id="usernameError"></p>
        <p class="fail-vali th" th:errors="*{username}"></p>
        <!-- 닉네임 -->
        <label for="nickname" class="profile-edit-label">닉네임</label>
        <input onchange="checkField(event, 'nickname')" th:field="*{nickname}" type="text" class="form-control mb-3" placeholder="영문 + 숫자, 한글 + 숫자, 영문, 숫자 조합 2글자 이상 10글자 이하">
        <p class="fail-vali" id="nicknameError"></p>
        <p class="fail-vali th" th:errors="*{nickname}"></p>
        <!-- 이메일 -->
        <label for="email" class="profile-edit-label">이메일</label>
        <input onchange="checkField(event, 'email')" th:field="*{email}" type="email" class="form-control mb-3" placeholder="이메일을 입력해주세요.">
        <p class="fail-vali" id="emailError"></p>
        <p class="fail-vali th" th:errors="*{email}"></p>
        <!-- 비밀번호 -->
        <label for="password" class="profile-edit-label">비밀번호</label>
        <input onchange="checkField(event, 'password')" th:field="*{password}" type="password" class="form-control mb-3" placeholder="영문자, 숫자, 특수문자 조합으로 8 ~ 20 글자 입력해주세요.">
        <p class="fail-vali" id="passwordError"></p>
        <p class="fail-vali th" th:errors="*{password}"></p>
        <!-- 비번확인 -->
        <label for="password2" class="profile-edit-label">비밀번호 확인</label>
        <input id="password2" onchange="checkPw2()" type="password" class="form-control mb-3" placeholder="비밀번호와 같게 입력해주세요.">
        <p class="fail-vali" id="passwordError2"></p>
        </div>
        <button onclick="formCheck(event)" id="join-button" class="btn btn-gold w-100 mb-2" type="submit">회원가입</button>
      </form>
    </div>
  </th:block>
  <th:block layout:fragment="pageScript">
    <script>

      let samePw = false
      let duplId = false
      let duplNick = false

      // 비동기 유효성 검사
      async function checkField(event, field) {

        if(field === 'password') {
          checkPw2()
        }

        let url = ''

        // 필터링
        switch (field) {
          case 'username':
            url = '/check-id'
            break;
          case 'nickname':
            url = '/check-nickname'
            break;
          case 'email':
            url = '/check-email'
            break;
          case 'password':
            url = '/check-password'
            break;
          default:
            return
            break;
        }

        const errorMessage = document.getElementById(`${field}Error`)
        errorMessage.innerText = ''

        const formError = document.querySelectorAll('.fail-vali.th')
        formError.forEach(e => {
          e.innerText = ''
        });

        const input = document.getElementById(field)
        const data = {
            [field]: input.value
        }

        try {
            /* Security 제공 CSRF */
            const token = document.querySelector('meta[name="_csrf"]').getAttribute('content');
            const header = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');
            const response = await fetch(url, {
                method: "POST",
                headers: {
                    [header] : token,
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(data)
            });

            if (!response.ok) {
                const errorArray = await response.json();
                errorArray.forEach(e => {
                    let field = e.field;
                    if(e.key) field = e.key
                    let message = e.defaultMessage;
                    const errorElement = document.getElementById(`${field}Error`)
                    if (errorElement) {
                      if(e.value) message = e.value
                      errorElement.textContent = message
                      errorElement.classList.remove('success')
                    }
                    if(field == 'username') duplId = false
                    if(field == 'nickname') duplNick = false
                });
                return
            }
            if(field == 'username') duplId = true
            if(field == 'nickname') duplNick = true
            const result = await response.text();
            errorMessage.classList.add('success')
            errorMessage.innerText = result
        } catch (error) {
            console.error("요청 실패:", error);
        }
      }

      function formCheck(e) {
        e.preventDefault()
        if(samePw && duplId && duplNick) {
          alert(`${document.getElementById('nickname').value} 님 환영합니다. 😊`)
          document.getElementById('form').submit()
        }
      }

      function checkPw2() {
        let input = document.getElementById('password2')
        let pw2 = document.getElementById('passwordError2')
        if(input.value === document.getElementById('password').value) {
          pw2.classList.add('success')
          pw2.textContent = '비밀번호가 일치합니다.'
          samePw = true
        } else {
          pw2.classList.remove('success')
          pw2.textContent = '비밀번호가 일치하지 않습니다.'
          samePw = false
        }
      }
    </script>
  </th:block>
</body>
</html>