<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layouts/main_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>최신 트랙</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <th:block th:replace="~{fragments/link::main}"></th:block>
</head>

<body>
    <th:block layout:fragment="content">
        <div class="container-fluid d-flex flex-column align-items-center px-0" style="max-width:1440px; padding-top:150px; gap:50px;">
            <!-- 최신 트랙 섹션 -->
            <section class="main-section-bg w-100 py-4 mb-5">
                <div class="d-flex flex-row align-items-center px-4 mb-3" style="height:50px;">
                    <div class="section-title flex-grow-1">최신 트랙</div>
                </div>
                <div class="album-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-6 g-0 m-0 mb-5 justify-content-start">
                    <th:block th:each="newTrack : ${newTrackList}">
                        <!-- 트랙 카드 -->
                        <div class="col d-flex justify-content-center">
                            <div class="card align-items-center p-3" style="width:228px; height:340px;">
                                <a th:href="@{'/tracks?id=' + ${newTrack.id}}">
                                    <img th:src="${newTrack.coverImage}" class="card-img-top" alt="앨범커버">
                                </a>
                                <div class="card-body d-flex flex-column align-items-center p-2">
                                    <a th:href="@{'/tracks?id=' + ${newTrack.id}}" class="card-title" th:text="${newTrack.title}"></a>
                                    <a th:href="@{'/artists?id=' + ${newTrack.artistId}}" class="card-artist" th:text="${newTrack.artistName}"></a>
                                </div>
                                <div class="position-relative bottom-0 mb-5">
                                    <th:block th:if="${newTrack.avgRating != null}">
                                        <canvas class="doughnut-canvas" th:attr="data-rating=${newTrack.avgRating}" width="50" height="50"></canvas>
                                    </th:block>
                                    <th:block th:unless="${newTrack.avgRating != null}">
                                        <span class="no-rating fw-bold fs-2">NR</span>
                                    </th:block>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
                <div th:replace="~{fragments/pagination :: pagination}"></div>
            </section>
            <div class="floating">
                <a href="#top">
                    <i class="bi bi-caret-up-fill"></i>
                </a>
            </div>
        </div>
    </th:block>
    <th:block layout:fragment="pageScript">
        <script th:src="@{/js/rating_chart.js}"></script>
    </th:block>
</body>