/* 공연 날짜, 장소, "Track" 버튼, "Request a show" 버튼 등을 숨김 */
.bit-widget .bit-event {
    padding: 5px 0 !important;
    color: white !important;
}

.bit-rsvp,
.bit-upcoming-events-show-all-button {
    display: none !important;
}

.bit-widget .bit-no-dates-container .bit-track-button {
    width: 250px !important;
}

.bit-widget .bit-no-dates-container {
    border-top: 1px solid rgba(124, 124, 124, .25);
    text-align: center;
    margin: 0px 10px 0px 10px;
    padding: 30px 0px 30px 0px !important;
}

/* "Tickets" 버튼만 남기고 정렬 정리 */
.bit-event__actions {
    text-align: center;
}

.bit-venue {
    color: var(--main-color) !important;
}

.bit-widget {
    font-size: 14px;
}

.bit-widget .bit-offers {
    background-color: var(--main-color) !important;
    border: none !important;
}

/* 스윗 얼럿 css */
.swal2-popup {
    background: var(--background-color) !important;
    padding: 20px !important;
    border-radius: 20px !important;
    border: 2px solid var(--main-color) !important;
}

.swal2-title {
    color: var(--main-color) !important;
    font-size: 2.0rem !important;
    margin-bottom: 20px !important;
}

.swal2-confirm {
    background-color: var(--main-color) !important;
    color: var(--background-color) !important;
    font-size: 1.6rem !important;
    font-weight: bold !important;
}

.swal2-cancel {
    background-color: var(--main-color) !important;
    color: var(--background-color) !important;
    font-size: 1.6rem !important;
    font-weight: bold !important;
}

.swal2-content {
    color: white !important;
}

.swal2-html-container {
    color: white !important;
    font-weight: bold !important;
    font-size: 1.3rem !important;
}

.swal2-select {
    background-color: var(--background-color) !important;
}

.swal2-icon {
    margin-top: 10px !important;
}